.navbar {
    height: 80px;
    background-color: white;
    font-size: 25px;
    margin: 10px 20px;
    border-radius: 10px 10px 10px 0;
    border-bottom: 5px solid #5E17EB;
}

table {
    display: flex;
    justify-content: center;
    text-align: center;
    border-collapse: separate; 
    border-spacing: 200px 10px;
}

.active-tab {
    background-color: #5E17EB; 
    color: white;
    padding: 10px 50px 30px 50px;
    border-radius: 4px;
    margin-bottom: 0px;
}

.show-items {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding:20px;
}