<div class="w-full p-2">
    <div class="w-full h-full bg-white rounded-lg xl:p-8 px-4 py-6 ms-auto">

        <div class="overflow-x-auto">
                <div class="flex items-center justify-between gap-4 m-5">
                    <h1 class="text-2xl font-semibold text-[#5E17EB] text-left">Sama Notfications</h1>
                    <a href="/notification">
                        <button data-tab="Dashboard"
                            class="w-[200px] px-3 py-3 bg-[#5E17EB] text-white rounded-full text-center flex justify-center items-center">
                            Add Notfications
                        </button>
                    </a>
                </div>
                

            <div class="w-4/4 ml-4 flex flex-wrap gap-4 items-end m-10">
                <div class="w-full flex items-center justify-between flex-wrap my-8">
                    <div class="w-1/4 min-w-[200px]">
                        <div class="fillterCard">
                            <label class="font-normal text-[15px] text-[#232323] block mb-1">Audience:</label>
                            <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full">
                                <select id="category"
                                    class="w-full text-xs text-[#718EBF] font-normal outline-none bg-white focus:ring-purple-500 focus:border-purple-500">
                                    <option value="">Select Audience</option>
                                    <option value="accessory">Member</option>
                                    <option value="toy">Non-member</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/4 min-w-[200px]">
                        <div class="fillterCard">
                            <label class="font-normal text-[15px] text-[#232323] block mb-1">Process:</label>
                            <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full">
                                <select id="category"
                                    class="w-full text-xs text-[#718EBF] font-normal outline-none bg-white focus:ring-purple-500 focus:border-purple-500">
                                    <option value="">Select Process</option>
                                    <option value="accessory">Automatic</option>
                                    <option value="toy">Custom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/4 min-w-[200px] relative">
                        <label class="font-normal text-[15px] text-[#232323] block mb-1">Search:</label>
                        <input type="text" placeholder="Search by Subject..."
                            class="border border-gray-300 rounded-full py-3 pl-8 pr-4 w-full text-sm focus:ring-blue-500 focus:border-blue-500" />
                        <img src="Image/search.png" alt="Search Icon" class="absolute top-[57%] left-3  h-4" />
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto">
                <table class="min-w-full bg-white rounded-lg shadow-md table-auto">
                    <thead class="bg-[#5e16ea] text-white text-center justify-center">
                        <tr class="border-t last:border-b border-gray-300">
                            <th class="px-6 py-6 text-left">
                                <input type="checkbox"
                                    class="form-checkbox h-4 w-4 text-blue-600 rounded focus:ring-blue-500">
                            </th>
                            <th class="px-4 py-2 text-left">Subject</th>
                            <th class="px-4 py-2 text-left">Audience</th>
                            <th class="px-4 py-2 text-left">Status</th>
                            <th class="px-4 py-2 text-left">Process</th>
                            <th class="px-4 py-2 text-left">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="border-t hover:bg-gray-50">
                            <td class="px-6 py-6 text-left">
                                <input type="checkbox"
                                    class="form-checkbox h-4 w-4 text-blue-600 rounded focus:ring-blue-500" />
                            </td>
                            <td class="px-4 py-2"></td>
                            <td class="px-4 py-2"></td>
                            <td class="px-4 py-2">
                                <div class="flex items-center justify-center gap-3">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" class="sr-only peer" />
                                        <div
                                            class="w-10 h-5 bg-red-500 rounded-full peer-checked:bg-green-500 peer-focus:ring-2 peer-focus:ring-offset-2 peer-focus:ring-blue-700 transition-colors duration-300">
                                        </div>
                                        <span
                                            class="w-3 h-3 bg-white rounded-full shadow-md transform peer-checked:translate-x-5 peer-checked:bg-green-100 absolute left-1 top-1 transition-transform duration-300"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="px-4 py-2"></td>
                            <td class="py-2 px-4 text-center">
                                <div class="flex items-center justify-center space-x-2">
                                    <img src="biin.png" alt="" class="h-5 cursor-pointer" />
                                    <img src="edit-pic.png" alt="" class="h-5 cursor-pointer" />
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    <ng-template #noData>
                        <tr>
                            <td colspan="10" class="text-center py-4 text-gray-500">
                                No data available
                            </td>
                        </tr>
                    </ng-template>
                </table>
            </div>

            <!-- Pagination -->
            <div class="mt-12 flex justify-center items-center w-full">
                <div class="flex items-center sm:justify-center sm:gap-6 gap-3 px-5 justify-center">
                    <button
                        class="flex items-center justify-center gap-2 cursor-pointer text-[#5E17EB] text-xs font-normal hover:text-black duration-500">
                        <img src="Image/left-arrow.svg" alt="arrow left" />
                        Previous
                    </button>
                    <div class="flex items-center">
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-white font-normal text-xs bg-[#5E17EB] hover:bg-[#5E17EB] hover:text-white duration-1000">
                            1
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            2
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            3
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            4
                        </button>
                    </div>

                    <button
                        class="flex items-center justify-center gap-2 cursor-pointer text-[#5E17EB] text-xs font-normal hover:text-black duration-500">
                        Next
                        <img src="Image/right-arrow.svg" alt="arrow right" />
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>