.create-post {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 100em;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.200);
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between h1 {
    color: #5E17EB;
    font-weight: bold;
}

.create-post-detail {
    margin: 30px 0;
    overflow: hidden; 
}

.create-post-detail img{
    cursor: pointer;
    height: 20em;
    width: 30em;
    object-fit: cover;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.200);
}

.create-post-detail button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrap-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.create-content {
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 30px;
    width: 740px;
    height: auto;
}

.create-content li {
    margin: 30px 0;
}

.create-content h2 {
    font-weight: bold;
}

.create-content input, select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
}

.create-content textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    height: 200px;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn-action {
    width:200px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #5E17EB;
    margin: 20px;
}

.toggle-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.toggle-input {
    display: none;
}

.toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.toggle-input:checked + .toggle-switch {
    background-color: #00ff00;
}

.toggle-circle {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-switch .toggle-circle {
    transform: translateX(20px);
}
