<div class="wrapper">
    <div class="coupon-header">
        <h1 class="coupon-title">Sama Email</h1>
        <label class="switch">
            <input type="checkbox" class="sr-only" />
            <div class="slider"></div>
            <span class="dot"></span>
        </label>
    </div>
    <div class="email-container">
        <div class="email-header">
            <div class="email-auto-option">
                <div class="checkbox-group">
                    <input type="checkbox" class="checkbox" />
                    <h4 class="section-title">Automatic</h4>
                </div>
            </div>

            <div class="email-date-range">
                <p class="section-title">Duration Date</p>

                <div class="date-picker">
                    <label class="date-label">From:</label>
                    <div class="date-input-wrapper">
                        <input id="from-date" type="date" class="date-input" />
                    </div>
                </div>

                <div class="date-picker">
                    <label class="date-label">To:</label>
                    <div class="date-input-wrapper">
                        <input id="to-date" type="date" class="date-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="audience-selector">
            <p class="section-subtitle">Select Type of Audience</p>

            <div class="audience-grid">
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Member</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Non-member</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Free Trial</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Providers</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Doctors</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Trainers</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Booking</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Renewal</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Expired</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Caller</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">Add to Cart</span></label>
                <label><input type="checkbox" class="checkbox" /> <span class="checkboxtext">All</span></label>
            </div>
        </div>

        <div class="email-details-wrapper">
            <div class="email-column">
                <p class="section-subtitle center">Details in English</p>
                <label>Subject</label>
                <input type="text" class="text-input" placeholder="Enter Subject..." />
                <label>Message</label>
                <textarea class="text-area" placeholder="Please enter your message here..."></textarea>
            </div>
            <div class="ar-email-column">
                <p class="ar-section-subtitle center">التفاصيل باللغة العربية</p>
                <label>الموضوع</label>
                <input type="text" class="text-input" placeholder="أدخل الموضوع..." />
                <label>نص الرسالة</label>
                <textarea class="text-area" placeholder="يرجى إدخال نص الرسالة..."></textarea>
            </div>
        </div>
    </div>
</div>