<div
    style="width: 3.375in; height: 2.125in; background-color: white; border: 1px solid black; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); font-family: 'Promo Medium', sans-serif;">
    <div id="cardContent" class="card">
        <div class="logo">
            <img src="Image/newLogo.png" />
        </div>
        <!-- Info Section -->
        <div class="info-section">
            <!-- Image inside info section -->
            <div class="image-section">
                <img src="Image/cat.png" alt="Pet Image" class="rounded-2xl" />
            </div>

            <!-- Info details -->
            <div class="details-section">
                <p><span class="label">BREED</span><span class="value">: test</span></p>
                <p><span class="label">COUNTRY</span><span class="value">: Bahrain</span></p>
                <p><span class="label">GENDER</span><span class="value">: Female</span></p>
                <p><span class="label">VALID DATE</span><span class="value">: 16 Mar 2025</span></p>
                <p><span class="label">PET OWNER</span><span class="value">: Zahraa Tawfeeq</span></p>
            </div>
        </div>

        <!-- Name and code -->
        <div class="additional-info">
            <div class="info-text">
                <p>Lavine</p>
                <p>SA001</p>
            </div>
            <div class="qr-container">
                <div class="qr-code"></div>
            </div>
        </div>
    </div>
</div>