h2 {
    font-size: 15px;
    font-weight: bold;
}

.orders {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 0 0 0px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.205);
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    height: 200px;
    object-fit: contain; 
}

input, select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    resize: none;
    padding: 5px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 20px;
    width: 40em;
}

.details {
    margin-top: 20px;
    margin-bottom: 30px;
}

.details table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.inputs-inline {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.inputs-inline li {
    margin: 10px;
}

.inputs-inline input{
    width: 290px;
}

.inputs li {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    background-color: #5E17EB;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.toggle-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}


/* toggling input */

.toggle-input {
    display: none;
}

.toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.toggle-input:checked+.toggle-switch {
    background-color: #00ff00;
}

.toggle-circle {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-input:checked+.toggle-switch .toggle-circle {
    transform: translateX(20px);
}