

<!-- Your existing HTML code -->

<div class="wrapper">
  <div class="coupon-header">
      <h1 class="coupon-title">All Blogs</h1>
      <button class="add-provider-btn" (click)="navigateToCreatePost()">Create Post</button>
  </div>
  <!--filtering blogs-->
  <div class="filters">
      <ul class="categories-color">
          <li>
              <label for="">Category</label>
              <select name="category" id="" required>
                  <option value="" selected>Choose Option....</option>
                  <option value="">Cat</option>
                  <option value="">rabbit</option>
                  <option value="">bird</option>
              </select>
          </li>
          <li>
              <label for="">Date Form</label>
              <input type="date">
          </li>
          <li>
              <label for="">To</label>
              <input type="date">
          </li>
          <li>
              <div class="space-between">
                  <button class="btn-filter">Filter</button>
                  <button class="btn-filter" style="background-color: orange;">Clear</button>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <label for="">Search</label>
              <div class="space-between">
                <input type="search" class="search" placeholder="Search..." [(ngModel)]="searchTerm">
                <button (click)="onSearch()">Search</button>

                <ul>
                  <li *ngFor="let item of filteredItems">{{ item }}</li>
                </ul>
              </div>
          </li>
      </ul>
  </div>
  <!--section displaying blogs-->
  <div *ngIf="blogs.length === 0" class="no-posts">
    <!-- k<img src="path/to/your/no-posts-image.png" alt="No Posts" class="no-posts-image"> -->
    <h2 class="empty">No posts yet</h2>
</div>
  <div class="blog-posts">

      <div class="post" *ngFor="let blog of blogs">
          <img [src]="blog.image || 'Image/cat.png'" alt="Blog Image">
          <ul>
              <li>
                  <h2>{{ blog.title }}</h2>
                  <h3>{{ blog.created_at | date: 'longDate' }}</h3>
                  <p>{{ blog.description }}</p>
              </li>
          </ul>
          <div class="btn-action">
            <button class="btn-edit" (click)="navigateToEditPost(blog)">Edit</button>
            <button class="btn-delete" (click)="openModal(blog)">Delete</button>
        </div>
      </div>
  </div>
</div>

<!-- Delete Confirmation Popup -->
<div class="modal" id="deleteModal" *ngIf="isModalOpen">
  <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Confirm Deletion</h2>
      <p>Are you sure you want to delete this blog?</p>
      <div class="space-around">
      <button class="btn-delete" (click)="confirmDelete()">Delete</button>
      <button class="btn-edit" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
