<div class="container">
    <div class="customer-orders">
      <h2 class="section-title">Customer Orders</h2>
    </div>
  
    <!-- Customer Details -->
    <div class="details-container">
      <div class="customer-details">
        <div class="flex items-center">
          <div class="profile-image">
            <img [src]="owner?.profile_image || 'Image/profile-mask.png'" class="profile-img" />
          </div>
          <div class="customer-info">
            <p class="info-text">{{ owner?.first_name }} {{ owner?.last_name }}</p>
            <p class="info-text">{{ owner?.address }}</p>
            <p class="info-text">{{ owner?.phone }}</p>
            <p class="info-text">{{ owner?.email }}</p>
            <p class="info-text">{{ owner?.date_of_birth | date:'dd-MM-yyyy' }}</p>
          </div>
        </div>
      </div>
  
      <!-- Payment Details -->
      <div class="payment-details">
        <div class="payment-info">
          <p class="info-text">
            Last Order: {{ orders.length > 0 ? (orders[0].invoice_date | date:'dd-MM-yyyy') : '-' }}
          </p>
          <p class="info-text">
            Total Spent: {{ totalSpent | currency:'BHD':'symbol':'1.2-2' }}
          </p>
          <p class="info-text">Total Orders: {{ orders.length }}</p>
        </div>
      </div>
    </div>
  
    <!-- Orders Table -->
    <div class="order-table">
      <div class="overflow-x-auto">
        <table class="order-list">
          <thead class="table-header">
            <tr class="border-t last:border-b">
              <th class="table-cell">Order No.</th>
              <th class="table-cell">Status</th>
              <th class="table-cell">Date</th>
              <th class="table-cell">Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders" class="table-row">
                <td class="table-cell cursor-pointer" (click)="navigateToOrderInfo(order.id)">
                    {{ order.id }}
                  </td>
                  
              <td class="table-cell">{{ order.status }}</td>
              <td class="table-cell">{{ order.invoice_date | date:'dd MMM yyyy' }}</td>
              <td class="table-cell">{{ order.total_amount | currency:'BHD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr *ngIf="orders.length === 0">
              <td colspan="4" class="text-center py-4 text-gray-500">
                No orders available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  