<div class="w-full p-2">
    <!-- <div class="w-full h-full bg-white rounded-lg xl:p-8 px-4 py-6 ms-auto mb-6">
        <h2 class="section-title">Sama Pet Care Account</h2>
    </div> -->
    <div class="w-full h-full bg-white rounded-lg xl:p-8 px-4 py-6 ms-auto">
        <div class="w-full p-2">
            <div class="w-full h-full bg-white rounded-lg ms-auto mb-10">
                <h2 class="section-title">Sama Pet Profile</h2>
            </div>

            <!-- Tab Links -->
            <div
                class="table-list flex justify-start items-center bg-white mt-2 flex-col md:flex-row border-b-2 border-blue-600">
                <a class="text-2xl px-10 py-1 rounded-t-md cursor-pointer" [ngClass]="{'active-tab': selectedTab === 1}"
                    (click)="selectTab(1)">
                    Profile
                </a>
                <a class="text-2xl px-10 py-1 rounded-t-md cursor-pointer" [ngClass]="{'active-tab': selectedTab === 2}"
                    (click)="selectTab(2)">
                    App
                </a>
                <a class="text-2xl px-10 py-1 rounded-t-md cursor-pointer" [ngClass]="{'active-tab': selectedTab === 3}"
                    (click)="selectTab(3)">
                    Website
                </a>
            </div>

            <!-- Tab Content -->
            <div class="Show-Items">

                <!-- ACCOUNT TAB -->
                <div *ngIf="selectedTab === 1" class="m-5 p-5">
                    <div class="container mx-auto p-8 bg-gray-100">
                        <h2 class="text-3xl font-semibold text-center mb-10 text-[#5E17EB]">Profile</h2>

                        <!-- Profile Section -->
                        <div class="mb-12">
                            <div class="flex items-center gap-20 mb-8">
                                <div class="relative">
                                    <img src="Image/profile.png" class="w-52 h-52 rounded-full border" />
                                    <input type="file" accept=".png,.jpg,.jpeg" class="hidden" />
                                    <img src="edit-pic.png" class="absolute bottom-2 right-2 h-7 cursor-pointer" />
                                </div>

                                <!-- Company -->
                                <div class="w-[70%]">
                                    <label class="block font-medium text-lg">Company Name</label>
                                    <input type="text" class="input-field" placeholder="Sama Pet Care" />

                                    <label class="block font-medium text-lg mt-6">Contact</label>
                                    <div class="flex gap-6">
                                        <input type="text" class="input-field" placeholder="+123456789" />
                                        <input type="text" class="input-field" placeholder="+123456789" />
                                    </div>

                                    <label class="block font-medium text-lg mt-6">Email</label>
                                    <input type="email" class="input-field" placeholder="SamaPetBh@gmail.com"
                                        required />
                                </div>
                            </div>

                            <!-- Address -->
                            <div class="grid grid-cols-4 gap-6">
                                <div>
                                    <label class="block font-medium text-lg">Office/Building</label>
                                    <input type="text" class="input-field" placeholder="SamaPetOffice" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Road</label>
                                    <input type="text" class="input-field" placeholder="Road" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Block</label>
                                    <input type="text" class="input-field" placeholder="Block" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">City</label>
                                    <input type="text" class="input-field" placeholder="City" />
                                </div>
                            </div>
                        </div>
                        <hr class="mb-6" />

                        <!-- Availability Section -->
                        <div class="mb-12">
                            <h3 class="text-2xl font-semibold mb-6 text-[#5E17EB]">Availability</h3>

                            <div class="flex items-center mb-6">
                                <label class="font-medium text-lg w-1/4">Days</label>
                                <div class="flex gap-4">
                                    <label><input type="checkbox" /> Sunday</label>
                                    <label><input type="checkbox" /> Monday</label>
                                    <label><input type="checkbox" /> Tuesday</label>
                                    <label><input type="checkbox" /> Wednesday</label>
                                    <label><input type="checkbox" /> Thursday</label>
                                    <label><input type="checkbox" /> Friday</label>
                                    <label><input type="checkbox" /> Saturday</label>
                                </div>
                            </div>

                            <div class="flex items-center">
                                <label class="font-medium text-lg w-1/4">Hours</label>
                                <input type="time" class="input-field w-1/8" />
                                <input type="time" class="input-field w-1/8" />
                            </div>
                        </div>
                        <hr class="mb-6" />

                        <!-- Social Media Section -->
                        <div class="mb-12">
                            <h3 class="text-2xl font-semibold mb-6 text-[#5E17EB]">Social Media Links</h3>
                            <div class="grid grid-cols-2 gap-6">
                                <div>
                                    <label class="block font-medium text-lg">Instagram</label>
                                    <input type="text" class="input-field" placeholder="SamaPetBh" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">WhatsApp</label>
                                    <input type="text" class="input-field" placeholder="+973 33445566" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Facebook</label>
                                    <input type="text" class="input-field" placeholder="SamaPetBh" />
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">TikTok</label>
                                    <input type="text" class="input-field" placeholder="SamaPetBh" />
                                </div>
                            </div>
                        </div>
                        <hr class="mb-6" />

                        <!-- About Us Section -->
                        <div class="mb-12">
                            <h3 class="text-2xl font-semibold mb-6 text-[#5E17EB]">About Us</h3>
                            <div class="grid grid-cols-2 gap-8">
                                <div>
                                    <label class="block font-medium text-lg">About Us (En)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">About Us (Ar)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Mission (En)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Mission (Ar)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Vision (En)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                                <div>
                                    <label class="block font-medium text-lg">Vision (Ar)</label>
                                    <textarea class="input-field" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-6" />

                        <!-- Update Button -->
                        <div class="mt-10 text-center">
                            <button class="bg-blue-500 text-white py-3 px-6 rounded-lg text-lg hover:bg-blue-600">
                                Update Profile
                            </button>
                        </div>
                    </div>


                </div>

                <!-- APP TAB -->
                <div *ngIf="selectedTab === 2" class="m-5 p-5">
                    <div class="container mx-auto p-8 bg-gray-100">
                        <h2 class="text-3xl font-semibold text-center mb-10 text-[#5E17EB]">App Banners</h2>

                        <div class="flex justify-end items-center mb-6 gap-3">
                            <button
                                class="w-[200px] px-3 py-3 bg-red-500 text-white rounded-full text-center flex justify-center items-center"
                                onclick="window.location.href='/notification'">
                                Delete
                            </button>
                            <button
                                class="w-[200px] px-3 py-3 bg-[#5E17EB] text-white rounded-full text-center flex justify-center items-center"
                                onclick="window.location.href='/notification'">
                                Add More
                            </button>
                        </div>

                        <div class="w-[75%] mx-auto rounded-lg bg-white p-4 shadow-md p-8 mb-8 justify-center">

                            <p class="text-xl mb-4">Upload Home Page Banner</p>

                            <div class="p-2">
                                <div class="col-span-9 flex items-center w-full justify-center">
                                    <input id="contract-upload" type="file" class="hidden" #contractInput />
                                    <label for="contract-upload"
                                        class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                        Choose File
                                    </label>
                                    <span
                                        class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                        <p>No File Chosen
                                        </p>
                                    </span>
                                    <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                    <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                    <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                </div>
                            </div>
                        </div>
                        <div class="w-[75%] mx-auto rounded-lg bg-white p-4 shadow-md p-8 mb-8 justify-center">
                            <p class="text-xl mb-4">Upload Pet Owner Page Banner</p>
                            <div class="p-2">
                                <div class="col-span-9 flex items-center w-full justify-center">
                                    <input id="contract-upload" type="file" class="hidden" #contractInput />
                                    <label for="contract-upload"
                                        class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                        Choose File
                                    </label>
                                    <span
                                        class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                        <p>No File Chosen
                                        </p>
                                    </span>
                                    <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                    <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                    <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WEBSITE TAB -->
                <div *ngIf="selectedTab === 3" class="m-5 p-5">
                    <div class="container mx-auto p-8 bg-gray-100">
                        <h2 class="text-3xl font-semibold text-center mb-10 text-[#5E17EB]">Website Banners</h2>

                        <div class="flex justify-end items-center mb-6 gap-3">
                            <!-- <p class="text-xl text-center justify-center">Store Page Banner</p> -->
                            <button
                                class="w-[200px] px-3 py-3 bg-red-500 text-white rounded-full text-center flex justify-center items-center"
                                onclick="window.location.href='/notification'">
                                Delete
                            </button>
                            <button
                                class="w-[200px] px-3 py-3 bg-[#5E17EB] text-white rounded-full text-center flex justify-center items-center"
                                onclick="window.location.href='/notification'">
                                Add More
                            </button>
                        </div>

                        <div class="flex flex-wrap justify-center gap-6">

                            <!-- Banner 1 -->
                            <div class="w-[60%] rounded-lg bg-white p-4 shadow-md mb-4 flex justify-center">
                                <div class="p-8 w-full">
                                    <p class="text-xl mb-4 text-center">Upload Home Page Banner</p>
                                    <div class="p-2">
                                        <div class="col-span-9 flex items-center w-full justify-center">
                                            <input id="contract-upload" type="file" class="hidden" #contractInput />
                                            <label for="contract-upload"
                                                class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                                Choose File
                                            </label>
                                            <span
                                                class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                                <p>No File Chosen
                                                </p>
                                            </span>
                                            <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                            <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                            <img src="Image/download.png" alt="Download"
                                                class="h-6 ml-2 cursor-pointer" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Banner 2 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">Main HomePage Collar Section Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>

                            <!-- Banner 3 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">My Card Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>

                            <!-- Banner 4 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">Collar Page Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>

                            <!-- Banner 5 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">Video Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>

                            <!-- Banner 6 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">Discount Page Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>
                            <!-- Banner 7 -->
                            <div class="w-[48%] rounded-lg bg-white p-4 shadow-md p-8 mb-4 justify-center">
                                <p class="text-xl mb-4">Store Page Banner</p>
                                <div class="p-2">
                                    <div class="col-span-9 flex items-center w-full justify-center">
                                        <input id="contract-upload" type="file" class="hidden" #contractInput />
                                        <label for="contract-upload"
                                            class="block px-4 py-2 border border-gray-300 text-sm font-medium text-white bg-[#5E17EB] cursor-pointer hover:bg-blue-800 rounded-3xl relative left-3">
                                            Choose File
                                        </label>
                                        <span
                                            class="text-sm text-gray-500 rounded-r-2xl border-gray-600 bg-gray-100 py-2 px-8">
                                            <p>No File Chosen
                                            </p>
                                        </span>
                                        <img src="biin.png" alt="Delete" class="h-5 ml-2 cursor-pointer" />
                                        <img src="Image/add.png" alt="Add" class="h-6 ml-2 cursor-pointer" />
                                        <img src="Image/download.png" alt="Download" class="h-6 ml-2 cursor-pointer" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>