<!-- footer section -->
<footer class="footerSection">
    <div class="container">
        <div class="footerColumn footerInfo">
            <img src="./assets/img/brand-logo-1.png" alt="Sama Pet Care Logo" class="footerLogo">
            <p>Sama Pet Care is a comprehensive platform dedicated to enhancing pet care.</p>
            <p class="phone"><i class="fas fa-phone-alt"></i> (973) 77690000</p>
            <p>Got Questions? Call us 24/7</p>
        </div>
        <div class="footerColumn footerHours">
            <h3>Working Hours</h3>
            <p>Mon - Fri: 7am - 6pm</p>
            <p>Saturday: 9am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footerColumn footerLinks">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Sales</a></li>
            </ul>
        </div>
        
        <div class="footerColumn footerNewsletter">
            <h3>Newsletter</h3>
            <p>Be first in the queue! Get our latest news straight to your inbox.</p>
            <form>
                <input type="email" placeholder="Email">
                <button type="submit">➤</button>
            </form>
        </div>
    </div>
    <div class="footerCopyright">
        <p>© 2025 Sama Pet Care. All rights reserved. Designed by Sama Pet.</p>
    </div>
</footer>