//header
ion-buttons{
  margin-top: 20px;
}

//body
hr {
  border-top: 1px solid #c5c5c5;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

ion-chip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 calc(45% - 10px);
  border: 4px solid transparent;
  border-radius: 16px;
  height: 80px;
  padding: 5px;
  overflow: hidden;
  background: transparent;
}

.ion-padding{
  ion-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.5rem + 0.5vw);
    color: black;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 10px;
  }
}


.paw-icon {
  margin-left: auto;
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  bottom: -8px;
  right: -4px;
  z-index: -1;
  transform: rotate(-20deg);
  opacity: 70%;
}

.pet-details {
  height: 60px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.gender {
  background-color: var(--Main-One);
  border-color: var(--Main-One) ;
}

.colour {
  background-color: var(--Main-Two);
  border-color: var(--Main-Two);
}

.breed {
  background-color: var(--Accent-One);
  border-color: var(--Accent-One) ;
}

.age {
  background-color: var(--Accent-Two);
  border-color: var(--Accent-Two);
}

.weight {
  background-color: var(--Backup-Pink);
  border-color: var(--Backup-Pink);
}

.height {
  background-color: var(--GrayColor);
  border-color: var(--GrayColor);
}

.bg {
  background: transparent;
}

.main-image {
  display: block;
  margin: 10px auto;
  width: 70%;
  height: auto;
  padding-bottom: 0;
}

.heart-icon, .arrow-icon {
  margin-top: 14px;
  width: 25px;
  height: 25px;
  gap: 2px;

}

 .phone-icon, .message-icon {
  background: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}

.owner-info, .pet-info {
  --background: transparent;
  --border-color: transparent;
  --ion-item-background: transparent;
  --ion-background-color: transparent;
}

.row-container {
  display: flex;
  align-items: center;
  --ion-item-border-width: 0;
  --ion-item-border-color: transparent;
}

.owner-img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  align-items: left;
}

ion-item {
  --ion-item-border-width: 0;
  --ion-item-border-color: transparent;
}

.owner-role, .owner-name {
  margin-left: 15px
}
.phone-icon, .message-icon {
  margin-left: 10px;
}

.icon-container {
  position: fixed;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.icon-container ion-icon {
  margin: 5px 0;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

.pet-icon-container {
  position: absolute;
  justify-content: flex-end;
  top: -2px;
  right: 10px;
  display: flex;
  gap: 26px;
  padding: 0;
  margin: 0;
  margin-right: 18px;
  z-index: 5;
}

.icon-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  margin: 0;
}

.loc-icon {
  width: 22.5px;
  height: 22.5px;
}

.item-location {
  display: flex;
  justify-content: center;
}

.pet-container {
  display: flex;
  align-items: right;
  --ion-item-border-width: 0;
  --ion-item-border-color: transparent;
}

.item-name, .item-price {
  margin: 0;
  padding: 0;
}

.see-more {
  --color: var(--Main-Two) !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: none;
}

.modal-description {
  font-size: 16px;
  color: #333;
}

ion-modal {
  --background: #ffffff;
  --height: auto;
  --max-height: 80%;
  border-radius: none;
}

ion-header {
  background-color: #f8f8f8; /* Set a visible background color for the header */
  color: #000; /* Set text color for visibility */
}

ion-toolbar {
  --background: #f8f8f8; /* Set toolbar background */
  padding: 0;
}

ion-button {
  --background: transparent; /* Make the background transparent */
  --color: #000; /* Change text color to black */
  font-size: 20px; /* Adjust font size for visibility */
}

ion-button {
  z-index: 10; /* Adjust as needed */
}