ion-item {
    --border-radius: 10px;
    --background: #ffffff;
    margin: 10px;
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  ion-item-group {
    margin-bottom: 10px;
  }
  
  ion-label h2 {
    font-weight: bold;
  }
  
  ion-label p {
    margin: 0;
  }


  