<div class="main p-1 flex flex-col sm:flex-row  ">
  <div class="sidebar w-full p-1    sm:w-[25%] " *ngIf="isSidebarVisible">
    <app-provider-profile></app-provider-profile>
  </div>


  <div class="main-content p-1   w-full sm:w-[75%]">
    <app-provider-header></app-provider-header>

    <div class="p-2 mt-2 sm:hidden block cursor-pointer" (click)="toggleSidebar()">
      <p class="side-arrow text-right text-sm font-semibold text-blue-600 rounded-sm  "> Open Profile</p>

    </div>



    <div
      class="table-list flex justify-around items-center  bg-white mt-2  flex-col md:flex-row border-b-2 border-blue-600">
      <!-- Add 'routerLink' and 'routerLinkActive' for active styling -->
      <a routerLink="/add-new-provider/gallary" routerLinkActive="active-tab" class="text-xl px-10 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }">
        Gallery
      </a>
      <a routerLink="/add-new-provider/service" routerLinkActive="active-tab" class="text-xl px-10 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }">
        Service
      </a>

      <a routerLink="/add-new-provider/category" routerLinkActive="active-tab" class="text-xl px-10 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }">
        Category
      </a>

      <a routerLink="/add-new-provider/products" routerLinkActive="active-tab" class="text-xl px-10 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }">
        Products
      </a>
      <a routerLink="/add-new-provider/doctors-and-booking" routerLinkActive="active-tab"
        class="text-xl px-3 py-1 rounded-t-md" [routerLinkActiveOptions]="{ exact: true }">
        Doctors And Booking
      </a>
      <a routerLink="/add-new-provider/coupons" routerLinkActive="active-tab" class="text-xl px-3 py-1 rounded-t-md"
      [routerLinkActiveOptions]="{ exact: true }">
      Coupons
    </a>
    </div>
    <div class="Show-Items ">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>