<div class="w-full h-full p-2">
    <div class="w-4/5 h-auto bg-white rounded-lg m-5 p-5 mx-auto">
        <div class="flex flex-col">
            <h2 class="text-2xl font-semibold text-[#5E17EB] text-left  mb-2">Order Details: #12345</h2>
            <h4 class="font-semibold text-[#5E17EB] text-left mb-5">March 04,2025</h4>
            <h6 class="font-semibold text-left text-[#5E17EB]">
                Status:
                <span class="bg-green-200 text-green-800 px-4 py-2 rounded-full items-center justify-center text-[#5E17EB]">
                    <span class="ml-2">Completed </span>✔
                </span>
            </h6>
        </div>
    </div>
    <div class="w-4/5 h-auto bg-white rounded-lg m-5 p-5 mx-auto">
        <div class="flex flex-col">
            <div class="flex mb-4">
                <!-- Billing-->
                <div class="flex flex-col w-1/2 pr-4">
                    <p class="text-2xl font-semibold text-[#5E17EB] text-left mb-5">Billing Address:</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Customer Name:</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Address:</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Contact Number:</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Email:</p>
                </div>

                <!-- Payment-->
                <div class="flex flex-col w-1/2 pl-4">
                    <p class="text-2xl font-semibold text-[#5E17EB] text-left mb-5">Payment Method:</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Cash on Delivery</p>
                    <p class="text-xl font-semibold text-[#5E17EB] text-left">Credit Card</p>
                </div>
            </div>

        </div>
    </div>
    <div class="w-4/5 h-auto bg-white rounded-lg m-5 p-5 mx-auto">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white rounded-lg shadow-md table-auto">
                <thead class="bg-[#5e16ea] text-white">
                    <tr class="border-t last:border-b border-gray-300">
                        <th class="px-4 py-2 text-left">Product</th>
                        <th class="px-4 py-2 text-left">Qty</th>
                        <th class="px-4 py-2 text-left">Price</th>
                        <th class="px-4 py-2 text-left">Total</th>
                        <th class="px-4 py-2 text-left">Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="border-t hover:bg-gray-50">
                        <td class="px-4 py-2"></td>
                        <td class="px-4 py-2"></td>
                        <td class="px-4 py-2"></td>
                        <td class="px-4 py-2"></td>
                        <td class="px-4 py-2"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <p class="text-xl font-semibold text-[#5E17EB] text-right mt-5">Total:</p> -->
        </div>
    </div>

</div>