<div class="container">
    <div class="customer-orders">
        <h2 class="section-title">Customer Orders</h2>
    </div>

    <div class="details-container">
        <!-- Customer Details -->
        <div class="customer-details">
            <div class="flex items-center">
                <div class="profile-image">
                    <img src="Image/profile-mask.png" class="profile-img" />
                </div>
                <div class="customer-info">
                    <p class="info-text">Customer Name</p>
                    <p class="info-text">Address</p>
                    <p class="info-text">+973 12345678</p>
                    <p class="info-text">Customer&#64;gmail.com</p>
                    <p class="info-text">04-03-2025</p>
                </div>
            </div>
        </div>

        <!-- Payment Details -->
        <div class="payment-details">
            <div class="payment-info">
                <p class="info-text">Last Order:</p>
                <p class="info-text">Total Spent:</p>
                <p class="info-text">Total Orders:</p>
            </div>
        </div>
    </div>

    <div class="order-table">
        <div class="overflow-x-auto">
            <table class="order-list">
                <thead class="table-header">
                    <tr class="border-t last:border-b">
                        <th class="table-cell">Order No.</th>
                        <th class="table-cell">Status</th>
                        <th class="table-cell">Date</th>
                        <th class="table-cell">Total Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-row">
                        <td class="table-cell"></td>
                        <td class="table-cell"></td>
                        <td class="table-cell"></td>
                        <td class="table-cell"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
