<header
class="flex items-center justify-between py-2 px-2 bg-white sm:px-8 rounded-lg"
>
<h1 class="text-black font-bold public-Sans font-16">
  Pet Owner Profile
</h1>
<div class="sm:flex justify-end items-center gap-4 hidden">
  <a
   
    class="px-8 py-3 rounded-[40px] bg-[#FF0206] duration-300 hover:bg-[#fd2d30] inline-block text-white inter text-xs font-normal"
  >
    Update
  </a>
  <div class="flex gap-3 justify-end items-center">
    <a
     
      class="w-10 h-10 rounded-full flex justify-center items-center cursor-pointer duration-500 bg-[#F5F7FA] hover:bg-[#ced1d6d8]"
    >
      <img src="Image/setting-icon.svg" alt="setting icon" />
    </a>
    <a
     
      class="w-10 h-10 rounded-full flex justify-center items-center cursor-pointer duration-500 bg-[#F5F7FA] hover:bg-[#ced1d6d8]"
    >
      <img src="Image/bell.png" alt="setting icon" />
    </a>
    <a
     
      class="w-10 h-10 rounded-full overflow-hidden flex justify-center items-center cursor-pointer duration-500 bg-[#F5F7FA] hover:bg-[#ced1d6d8]"
    >
      <img
        src="Image/profile-img.png"
        alt="setting icon"
        class="w-full h-full object-cover"
      />
    </a>
  </div>
</div>


</header>