
    <ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-label class="centered-title titleFont">Terms & Conditions</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="bodyFont boldFont biggestTitle">Terms & Conditions</p>

    <div class="bodyFont">
      <p class="boldFont title">1. Overview</p>
      <p>The Sama Pet Card is a loyalty program that provides exclusive discounts and benefits to cardholders at
        participating pet stores, pet services, pet accommodations, and other pet-related businesses. By using the
        Sama Pet Card, cardholders can save money on purchases, reservations, and services for their pets.</p>
    </div>
  
    <div class="bodyFont">
      <p class="boldFont title">2. Eligibility</p>
      <p>The Sama Pet Card is available to any individual who registers for the program. There is no cost to obtain a
          Sama Pet Card.</p>
    </div>
  
    <div class="bodyFont">
      <p class="boldFont title">3. Earning Discounts</p>
      <p>Cardholders can receive discounts at participating businesses by presenting their Sama Pet Card at the time of
          purchase or reservation. Discount amounts will vary by business, but will typically range from 5-20% off
          regular prices.</p>
      <p>The following types of businesses currently participate in the Sama Pet Card program:</p>
      <ul>
        <li>Pet stores</li>
        <li>Veterinary clinics</li>
        <li>Groomers</li>
        <li>Boarding kennels</li>
        <li>Pet daycares</li>
        <li>Pet-friendly hotels and vacation rentals</li>
      </ul>
      <p>A full list of participating businesses and their associated discounts can be found on the Sama Pet Card
          website.</p>
    </div>
  
    <div class="bodyFont">
      <p class="boldFont title">4. Card Usage</p>
      <p>The Sama Pet Card is non-transferable and can only be used by the individual to whom it is registered.
        Cards have no cash value and cannot be redeemed for cash.</p>
      <p>Cardholders must present their physical Sama Pet Card at the time of purchase or reservation to receive
        discounts. Digital versions of the card are not accepted.</p>
    </div>
  
    <div class="bodyFont">
      <p class="boldFont title">5. Termination of Program</p>
      <p>Sama reserves the right to modify or terminate the Sama Pet Card program at any time. In the event of
        program termination, all outstanding discounts and benefits will be honored for 90 days after the announced
        end date.</p>    
    </div>
  
    <div class="bodyFont">
      <p class="boldFont title">6. Contact Information</p>
      <p>For questions or issues regarding the Sama Pet Card, please contact our customer service team at:</p>
      <p>
        <b>Phone:</b> +973 33332222<br>
        <b>Email:</b> petcardsama.com
      </p>
    </div>

</ion-content>
