<div class="w-full p-2">
    <div class="w-full h-full bg-white rounded-lg xl:p-8 px-4 py-6 ms-auto">
        <div class="flex gap-4 m-5 justify-between w-full">
            <div class="flex gap-4">
                <h2 class="section-title">Add Notification</h2>
            </div>
            <div class="flex items-center gap-3 mr-12">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" />
                    <div
                        class="w-10 h-5 bg-red-500 rounded-full peer-checked:bg-green-500 peer-focus:ring-2 peer-focus:ring-offset-2 peer-focus:ring-blue-700 transition-colors duration-300">
                    </div>
                    <span
                        class="w-3 h-3 bg-white rounded-full shadow-md transform peer-checked:translate-x-5 peer-checked:bg-green-100 absolute left-1 top-1 transition-transform duration-300"></span>
                </label>
            </div>
        </div>
        
        <div
            class="w-full h-full bg-[#5E17EB] rounded-3xl xl:p-8 px-4 py-6 ms-auto flex items-center justify-between gap-6">
            <div class="w-1/2 flex flex-col justify-center">
                <div class="flex items-center gap-2">
                    <input type="checkbox" class="form-checkbox h-6 w-6 text-blue-600 rounded focus:ring-blue-500">
                    <h4 class="text-white font-bold text-2xl">Automatic</h4>
                </div>
            </div>

            <div class="w-1/2 flex items-center gap-6">
                <p class="text-white font-bold text-2xl text-center">Duration Date</p>
                <div class="w-1/3 min-w-[150px]">
                    <div class="fillterCard">
                        <label class="font-normal text-[15px] text-white block mb-1">From:</label>
                        <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full bg-white">
                            <input id="from-date" type="date"
                                class="w-full text-black text-xs font-normal outline-none focus:ring-purple-500 focus:border-purple-500 bg-transparent" />
                        </div>
                    </div>
                </div>
                <div class="w-1/3 min-w-[150px]">
                    <div class="fillterCard">
                        <label class="font-normal text-[15px] text-white block mb-1">To:</label>
                        <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full bg-white">
                            <input id="to-date" type="date"
                                class="w-full text-black text-xs font-normal outline-none focus:ring-blue-500 focus:border-blue-500 bg-transparent" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-full h-full bg-[#F5F4F9] rounded-3xl xl:p-8 px-4 py-6 ms-auto mt-5">
            <p class="text-lg font-semibold mb-6">Select Type of Audience</p>

            <div class="grid grid-cols-6 gap-4 items-center justify-center mx-auto justify-items-center">
                <!-- Row 1 -->
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Member</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Non-member</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Free Trial</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Providers</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Doctors</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Trainers</span>
                </label>

                <!-- Row 2 -->
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Booking</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Renewal</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Expired</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Caller</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">Add to Cart</span>
                </label>
                <label class="flex items-center gap-2 justify-center">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 rounded focus:ring-blue-500">
                    <span class="text-lg font-bold text-black">All</span>
                </label>
            </div>

        </div>
        <div class="flex justify-between gap-4">
            <div class="w-full h-full bg-[#F5F4F9] rounded-3xl xl:p-8 px-4 py-6 ms-auto mt-5 border-2 border-grey">
                <p class="text-xl font-semibold mb-4 text-center">Details in English</p>
                <p class="text-xl font-semibold mb-4 text-left">Subject</p>
                <input type="text" class="w-full py-4 px-4 border-[#DFEAF2] border-1 rounded-2xl outline-none mb-7" />
                <p class="text-xl font-semibold mb-4 text-left">Description</p>
                <input type="text" class="w-full py-40 px-4 border-[#DFEAF2] border-1 rounded-2xl outline-none mb-7" />
            </div>
            <div class="w-full h-full bg-[#F5F4F9] rounded-3xl xl:p-8 px-4 py-6 ms-auto mt-5 border-2 border-grey">
                <p class="text-xl font-semibold mb-4 text-center">Details in Arabic</p>
                <p class="text-xl font-semibold mb-4 text-left">Subject</p>
                <input type="text" class="w-full py-4 px-4 border-[#DFEAF2] border-1 rounded-2xl outline-none mb-7" />
                <p class="text-xl font-semibold mb-4 text-left">Description</p>
                
    <div class="editor-container">
        <div class="toolbar">
            <button onclick="execCmd('bold')"><b>B</b></button>
            <button onclick="execCmd('italic')"><i>I</i></button>
            <button onclick="execCmd('underline')"><u>U</u></button>
            <button onclick="execCmd('strikeThrough')"><s>S</s></button>
            <button onclick="execCmd('justifyLeft')">⬅</button>
            <button onclick="execCmd('justifyCenter')">↔</button>
            <button onclick="execCmd('justifyRight')">➡</button>
            <button onclick="execCmd('insertUnorderedList')">• List</button>
            <button onclick="execCmd('insertOrderedList')">1. List</button>
            <button onclick="execCmd('createLink', prompt('Enter URL:'))">🔗</button>
            <button onclick="execCmd('removeFormat')">🧹</button>
        </div>
        <div class="editor" contenteditable="true">Type your message...</div>
    </div>

    <script>
        function execCmd(command, value = null) {
            document.execCommand(command, false, value);
        }
    </script>

            </div>
        </div>

    </div>
</div>