@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}
/* General Styles */
.my-5 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }
  
  .filter-card {
    padding: 8px;
  }
  
  .label {
    font-weight: normal;
    font-size: 15px;
    color: #232323;
    display: block;
    margin-bottom: 4px;
  }
  
  .input-wrapper {
    border: 1px solid #CED1D5;
    padding: 8px 12px;
    border-radius: 20px;
    width: 100%;
  }
  
  .input {
    width: 100%;
    font-size: 12px;
    color: #718EBF;
    font-weight: normal;
    outline: none;
  }
  
  /* Responsiveness */
  @media (min-width: 640px) {
    .sm\:col-span-4 {
      grid-column: span 4;
    }
  }
  
  @media (min-width: 1024px) {
    .xl\:col-span-2 {
      grid-column: span 2;
    }
  }
  
  @media (max-width: 639px) {
    .col-span-12 {
      grid-column: span 12;
    }
  }
  /* General Pagination Styles */
.pagination {
    margin-top: 48px;
  }
  
  .pagination-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 20px;
  }
  
  .pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    color: #5e17eb;
    font-size: 12px;
    font-weight: normal;
    transition: color 0.5s;
  }
  
  .pagination-btn:hover {
    color: black;
  }
  
  .pagination-pages {
    display: flex;
    gap: 8px;
  }
  
  .page-btn {
    padding: 6px 16px;
    font-size: 12px;
    font-weight: normal;
    color: black;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 1s, color 1s;
  }
  
  .page-btn:hover {
    background-color: #5e17eb;
    color: white;
  }
  
  .page-btn.active {
    background-color: #5e17eb;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 640px) {
    .pagination-btn {
      font-size: 10px;
    }
  
    .page-btn {
      font-size: 10px;
      padding: 4px 12px;
    }
  }
  /* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .button-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  /* General Button Styles */
  .btn {
    padding: 6px 16px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 50px;
    transition: background-color 0.5s, color 0.5s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Specific Button Colors */
  .member-btn {
    background-color: #ed5f1e;
    color: white;
  }
  
  .member-btn:hover {
    background-color: #bd6035;
  }
  
  .non-member-btn {
    background-color: #4fc8dc;
    color: white;
  }
  
  .non-member-btn:hover {
    background-color: #2f8392;
  }
  
  .free-trial-btn {
    background-color: #ffea50;
    color: white;
  }
  
  .free-trial-btn:hover {
    background-color: #9b8f37;
  }
  .total-acc-btn {
    background-color: #ED5F1E;
    color: white;
  }
  
  .total-acc-btn:hover {
    background-color: #ed7b47;
  }
  /* Responsive Styles */
  @media (min-width: 768px) {
    .btn {
      font-size: 15px;
      padding: 12px 40px;
    }
  }
  
  @media (max-width: 768px) {
    .btn {
      font-size: 12px;
      padding: 6px 16px;
    }
  }
  