<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/adoptionlist"></ion-back-button>
    </ion-buttons>
    <br>
    <ion-title class="titleFont">Lost Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="loading-container" *ngIf="pet === undefined">
  <ion-label class="bodyFont">Loading pet information please wait...</ion-label>
  <ion-spinner name="circular"></ion-spinner>
</div>

<!-- *ngIf="pet !== undefined" -->
<ng-container *ngIf="pet">
  <ion-card>
    <img
      [src]="pet.image"
      alt="{{ pet.name }}"
      *ngIf="pet.image"
      class="pet-image"
    />
    <ion-card-header>
      <div class="pet-icon-container">
        <!-- <ion-button fill="clear" class="icon-button">
          <ion-icon src="assets/icons/purple-heart.svg" class="heart-icon"></ion-icon>
        </ion-button> -->
        <ion-button fill="clear" class="icon-button">
          <ion-icon src="assets/icons/purple-share.svg" class="share-icon"></ion-icon>
        </ion-button>
      </div>
      <div class="title-container">
        <ion-card-title class="bodyFont boldFont ion-text-center pet-name">{{pet.name}}</ion-card-title>
        <ion-card-subtitle class="item-location">
          <ion-icon src="assets/icons/location.svg" class="bodyFont loc-icon" name="location-outline"></ion-icon>
          <span class="bodyFont loc">{{pet.location}}</span>
        </ion-card-subtitle>
    </div>

    </ion-card-header>
    <hr>
    <ion-card-content class="no-padding">
      <div class="details">
        <ion-chip class="bg" color="success">
          <ion-label class="bodyFont boldFont gender pet-details">
            <img src="assets/icons/orange-paw.svg" class="paw-icon">
            Gender: {{pet.gender === 'm'? 'Male' : 'Female'}}
          </ion-label>
          <!-- <ion-badge color="light">{{pet.gender === 'm'? 'Male' : 'Female'}} </ion-badge> -->
        </ion-chip>
        <ion-chip class="bg" color="tertiary">
          <ion-label class="bodyFont boldFont colour pet-details">
            <img src="assets/icons/purple-paw.svg" class="paw-icon">
            Colour: {{ pet.color }}
          </ion-label>
          <!-- <ion-badge color="light">{{ pet.color }}</ion-badge> -->
        </ion-chip>
        <ion-chip class="bg" color="warning">
          <ion-label class="bodyFont boldFont breed pet-details">
            <img src="assets/icons/yellow-paw.svg" class="paw-icon">
            Breed: {{ pet.breed }}
          </ion-label>
          <!-- <ion-badge color="light">{{ pet.breed }}</ion-badge> -->
        </ion-chip>
        <ion-chip class="bg" color="danger">
          <ion-label class="bodyFont boldFont age pet-details">
            <img src="assets/icons/turq-paw.svg" class="paw-icon">
            Age: {{ pet.petAge }} Year 
          </ion-label>
          <!-- <ion-badge color="light">{{ pet.petAge }} Year</ion-badge> -->
        </ion-chip>
        <ion-chip class="bg" color="primary">
          <ion-label class="bodyFont boldFont weight pet-details">
            <img src="assets/icons/pink-paw.svg" class="paw-icon">
            Weight: {{ pet.weight }}
          </ion-label>
          <!-- <ion-badge color="light">{{ pet.weight }} KG</ion-badge> -->
        </ion-chip>
        <div class="simple-divider"></div>
      </div>
      <hr>

      <ion-item class="owner-info">
        <div class="row-container">
          <div class="image">
            <ion-avatar slot="start">
             <img [src]="pet.petOwner.profile_image" alt="Owner Image" class="owner-img" />
            </ion-avatar>
          </div>
          <div class="owner-details">
            <h2 class="owner-name bodyFont boldFont">{{pet.petOwner.first_name}} {{pet.petOwner.last_name}}</h2>
            <p class="pet-name bodyFont">{{pet.name}} {{pet.role}}</p>
          </div>
          <div class="icon-container">
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="presentAlertConfirm('call')">
                <ion-icon src="assets/icons/phone-black.svg" class="phone-icon" name="call"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="presentAlertConfirm('chat')">
                <ion-icon src="assets/icons/message-black.svg" class="message-icon" name="chatbubble"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-item>
      <p>{{ displayText }}</p>
      <ion-button
        *ngIf="showMoreButton"
        expand="block"
        fill="clear"
        color="primary"
        (click)="toggleDescription()"
      >
        <p class="see-more-less">{{ isExpanded ? 'Show Less' : 'See More' }}</p>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ng-container>
</ion-content>
