<ion-header>
  <ion-toolbar>
    <ion-title>Pets Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search here.."></ion-searchbar>
  <div class="services-grid">
    <ion-button expand="block" class="service-button">
      <ion-icon name="medkit-outline"></ion-icon>
      Vet Clinic
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="storefront-outline"></ion-icon>
      Pet Store
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="cut-outline"></ion-icon>
      Groomers
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="paw-outline"></ion-icon>
      Training
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="pulse-outline"></ion-icon>
      Doctor Emergency
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="pricetag-outline"></ion-icon>
      Product
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="home-outline"></ion-icon>
      Accommodation
      <span class="nearby">(7 nearby)</span>
    </ion-button>
    <ion-button expand="block" class="service-button">
      <ion-icon name="storefront-outline"></ion-icon>
      Sama Pet Store
      <span class="nearby">(7 nearby)</span>
    </ion-button>
  </div>
</ion-content>
