<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label class="centered-title titleFont">Privacy & Policy</ion-label>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titleFont">Privacy & Policy</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="bodyFont">
    <p class="boldFont title">Sama Pet Card Privacy Policy</p>
    <p>At Sama, we are committed to protecting the privacy and security of our customers.
        This Privacy Policy outlines how we collect, use, and safeguard the personal information of Sama Pet Card
        holders.</p>
  </div>
  
  
  <div class="bodyFont">
    <p class="boldFont title">Information Collection</p>
    <p>When you sign up for a Sama Pet Card, we collect the following personal information:</p>
   <ul>
      <li>Full name</li>
      <li>Mailing address</li>
      <li>Email address</li>
      <li>Phone number</li>
      <li>Pet information (name, species, breed)</li>
    </ul>
    <p>We may also collect information about your transactions and interactions when you use your Sama Pet Card
        at participating businesses.</p>  
  </div>

  <br>
  
  <div class="bodyFont">
    <p  class="boldFont title">Use of Information</p>
    <p>We use the information we collect to:</p>
    <ul>
      <li>Provide you with your Sama Pet Card and associated discounts and benefits</li>
      <li>Communicate with you about your account and the Sama Pet Card program</li>
      <li>Analyze usage data to improve the program</li>
      <li>Comply with legal and regulatory requirements</li>
    </ul>
  </div>
  
  <br>
  
  <div class="bodyFont">
    <p class="boldFont title">Information Sharing</p>
    <p>We do not sell or rent your personal information to third parties. However, we may share your information with:</p>
    <ul>
      <li>Participating businesses to facilitate discount redemption</li>
      <li>Service providers who assist us in operating the Sama Pet Card program</li>
      <li>Law enforcement or other government entities as required by law</li>
    </ul>
  </div>
 
  <br>

  <div class="bodyFont">
    <p class="boldFont title">Data Security</p>
    <p>We implement reasonable security measures to protect your personal information from unauthorized access,
        disclosure, and misuse. This includes encryption, access controls, and monitoring.</p>
  </div>
  
  <br>

  <div class="bodyFont">
    <p class="boldFont title">Your Rights</p>
    <p>You have the right to access, update, and delete your personal information held by Sama. You may also opt-out
        of receiving marketing communications from us.</p>
    <p>To exercise your rights or for any other privacy-related inquiries, please contact our privacy team at:</p>
    <p>
      <b>Email:</b> privacy sama.com<br>
      <b>Phone:</b> 1-800-555-1234
    </p>
  </div>
 
  <br>

  <div class="bodyFont">
    <p class="boldFont title">Changes to this Policy</p>
    <p>Sama reserves the right to update this Privacy Policy at any time. We will notify you of any material changes
      by posting the updated policy on our website.</p>
    <p>By using the Sama Pet Card, you agree to the terms of this Privacy Policy. If you have any questions or
      concerns, please let us know.</p>
  </div>
  
</ion-content>
