// Header img
.headerImgContainer{
    position: relative; 
    height: 30%;
    max-height: 246px;
}

.headerImg{
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: auto;
    }
}

.unstyled-button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font-size: inherit; /* Inherit font size to match surrounding text */
    color: inherit; /* Inherit color from surrounding text */
    text-transform: none; /* Remove any text transformation */
    line-height: inherit; /* Make sure line height is natural */
  }
  
  .unstyled-button::part(native) {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
.taps{
    border-radius: 16px;
    background-color: var(--Main-One);
}
  // petlists
.segments{
    ion-button{
      font-family: "Montserrat";
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 0.69rem;
      background-color: var(--Main-Two);
      color: white;
      text-align: center;
      border-radius: 16px;
    }
  
    #big{
      display: inline;
    }
  }
  
  .segButtonClicked{
    background-color: var(--Main-Two);
    color: white;
  }
  
  .segButtonNotClicked{
    border: 1px solid var(--GrayColor);
    background-color: var(--White);
    color: var(--GrayColor);
  }
  
ion-buttons[slot="start"] {
    position: absolute;
    z-index: 100; /* Make sure it appears above the image */
  }

// header
.icon{
    width: 24px;
    height: auto;
}

.header-margin-Single-Line{
    margin-top: 0px;
}

// body
.ion-padding{
    --padding-top: 0px;
}

// grid
.gridContainer{
    max-width: 350px;
}

.singleCell{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
    background-color: var(--White);
}

.imgContainer{
    width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        border-radius: 16px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.textContainer{
    height: 45%;
}

.titleAndPriceContainer{
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.titleContainer{
    width: 100%;
}

.prices{
    margin-top: auto;
}

.break-word {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#add{
    margin-left: 3px;
}

#old{
    text-decoration: line-through;
}

#new{
    color: var(--Main-One) !important;
}


@media screen and (max-width: 380px) {
    .textContainer{
        height: auto;
    }
}

//filter section

ion-content {
    --background: none;
}

ion-item {
    border: none;
    --background: transparent;
    --ion-item-border-width: 0;
    --ion-item-border-color: transparent;
}

.modal {
    --border-radius: 16px;
    --width: 100%;
    --height: 60%;
    position: flex;
}

.price-range {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    --ion-item-border-width: 0;
    --ion-item-border-color: transparent;
}

.price-container {
    display: flex;
    align-items: center;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.price-input {
    margin: 0 5px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 16px;
    text-align: center;
}

.currency {
    margin: 0 5px;
    position: absolute;
    right: 10px;
}

.pet-type-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
}

.pet-types {
    background-color: var(--background-color);
    border: none;
    padding: 4px;
    margin: 5px;
    border-radius: 16px;
    width: 45;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.review {
    margin-left: 8px;
    margin-right: 8px;
}

.review-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

ion-chip .rev-chip{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--background-color);

    .stars {
        display: flex;

        img {
            width: 25px;
            height: 25px;
            margin-right: 2px;
        }
    }

    span {
        margin-left: 5px;
        font-size: 14px;
        color: var(--background-color);
    }
}

.review-label, .type-label, .price-label {
    padding: 16px;
    margin-bottom: 12px;
}

.apply-button {
    --border-radius: 16px;
    --background: var(--Main-One);
    color: white !important;
    margin-left: 8px;
    margin-right: 8px;
    height: 45px;
    font-size: large;
    margin-bottom: 10px;
}

.orangeCircle{
    background-color: var(--Main-One);
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }