<ion-app>
  <ion-header class="headerImgContainer">
    <div class="headerImg">
      <img src="assets/collerframe.svg" alt="Pet Collars Banner" />
    </div>
  </ion-header>
   
 
    <br>
  <ion-header>
    <ion-toolbar style="background: var(--background-color);">
      <div class="header-margin-Single-Line">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
 
      <ion-label class=" titleFont centered-title">Sama Pet Store</ion-label>
       
  </div>
      <ion-buttons slot="end">
        <ion-button (click)="openSearch()">
          <img class="icon" src="/assets/icons/search.svg">
        </ion-button>
        <ion-button (click)="openFilter()">
          <img class="icon" src="assets/icons/filter.svg"/>
        </ion-button>
      </ion-buttons>
      
    </ion-toolbar>

    <div class="MakeItCenter">
  
        <div class="segments">
      <ion-button routerLink="/sama-pet-store" class="bodyFont" fill="clear">
        main
      </ion-button>
      <ion-button routerLink="/sama-pet-store/collar" class="bodyFont" fill="clear">
        collars 
      </ion-button>
      <ion-button routerLink="/coupon" class="bodyFont" fill="clear">
        coupons
      </ion-button>
      </div>
    </div>

    <br>

  </ion-header>

<ion-content class="ion-padding">

  <ion-toolbar *ngIf="isSearchVisible" class="search-bar">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchProducts()" debounce="0"></ion-searchbar>
  </ion-toolbar>

  <div class="MakeItCenter">
    <div>
      <div class="MakeItAGride gridContainer">
        <div class="singleCell" *ngFor="let product of products">
          <div class="imgContainer" (click)="navigateToDetails(product)">
            <img [src]="product.images[0]" alt="{{ product.name }}" />
          </div>

          <div class="FlexSpaceInBetween textContainer">
            <div class="titleAndPriceContainer">
              <div class="titleContainer break-word">
                <ion-label class="bodyFont boldFont">{{ product.name }}</ion-label>
              </div>

              <div class="prices">
                <ion-label id="old" class="bodyFont textGray boldFont smallFont location">{{ product.old_price }} BD</ion-label>
                <br>
                <ion-label id="new" class="bodyFont boldFont smallFont location">{{ product.new_price }} BD</ion-label>
              </div>
            </div>
            <div class="MakeItFlex">
              <!-- These two are buttons-->

              <div *ngIf="!product.isFavorite" (click)="addToFavorites(product)">
                <img class="icon" src="/assets/heart.svg">
              </div>

              
              <div *ngIf="product.isFavorite" (click)="addToFavorites(product)">
                <img class="icon" src="/assets/heartr.svg">
              </div>

              <!-- Add to Cart logic with increment -->
              <div (click)="addToCart(product)">
                <img class="icon" id="add" src="/assets/icons/plus-filled.svg">
                <!-- <ion-label *ngIf="product.isInCart" class="quantity-label">x{{ product.quantity }}</ion-label> -->
              </div>
            </div>              
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </ion-content>

  <!--Filter Section-->

  <ion-modal class="bodyFont modal" 
  [isOpen]="showFilterModal" 
  (ionModalDidDismiss)="dismissFilter()"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]">

  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="titleFont">Filter</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="resetFilter()" class="bodyFont">Reset</ion-button>
          <ion-button (click)="dismissFilter()" class="bodyFont">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="content-container">
      <ion-item class="price">
        <ion-label class="bodyFont price-label">Price</ion-label>
        <br>
        <div class="price-select">
          <ion-select [(ngModel)]="priceOrder">
            <ion-select-option value="lowest" class="bodyFont price">Lowest to Highest</ion-select-option>
            <ion-select-option value="highest" class="bodyFont price">Highest to Lowest</ion-select-option>
          </ion-select>
        </div>
      </ion-item> 

      <ion-item class="price-range">
        <div class="price-container">
          <div class="input-wrapper">
            <ion-input [(ngModel)]="priceRange.lower" placeholder="0" type="number" min="0" class="price-input"></ion-input>
            <span class="currency bodyFont">BHD</span>
          </div>
          to
          <div class="input-wrapper">
            <ion-input [(ngModel)]="priceRange.upper" placeholder="1000" type="number" min="0" class="price-input"></ion-input>
            <span class="currency bodyFont">BHD</span>
          </div>
        </div>
      </ion-item>

      <br>

      <ion-label class="bodyFont type-label">Pet Type</ion-label>
      <div class="pet-type-chips">
        <ion-chip 
          *ngFor="let petType of petTypes" 
          (click)="selectPetType(petType)" 
          [color]="selectedPetType === petType ? 'primary' : 'light'"
          class="button-container pet-types">
          <ion-label class="bodyFont pet-types">{{ petType }}</ion-label>
        </ion-chip>
      </div>

      <br>

      <ion-label class="bodyFont review-label">Reviews</ion-label>
      <div class="review">
        <div class="review-options">
          <ion-chip *ngFor="let rating of reviewRatings" (click)="selectReviewRating(rating)" class="rev-chip">
            <div class="stars">
              <ion-icon *ngFor="let star of [].constructor(rating)" name="star" slot="start" src="assets/icons/Star.svg" class="img"></ion-icon>
            </div>
            <span class="bodyFont"> & up</span>
          </ion-chip>
        </div>
      </div>
      <br>
      <ion-button expand="block" (click)="applyFilter()" class="apply-button bodyFont">Apply</ion-button>
    </ion-content>
    
  </ng-template>
</ion-modal>
</ion-app>  

          <!-- <ion-item class="kilo">
            <ion-label class="bodyFont">Kilometer</ion-label>
            <div class="slider-header">
              <span> {{ kilometerRange }} KM </span>
            </div>
          </ion-item>
          <ion-range [(ngModel)]="kilometerRange" min="0" max="50" step="1" class="kilometer-range">
            <ion-label slot="start" class="kilo-label">0 KM</ion-label>
            <ion-label slot="end" class="kilo-label">50 KM</ion-label>
          </ion-range> -->
          <!-- <div class="slider-scale">
            <span>5</span>
            <span>10</span>
            <span>15</span>
            <span>20</span>
            <span>25</span>
            <span>30</span>
            <span>35</span>
            <span>40</span>
            <span>45</span> 
          </div>

          <br> -->