<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="header-margin-Single-Line">
      <ion-label class="titleFont">settings</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <ion-list-header>
    <ion-label>Account</ion-label>
  </ion-list-header>
</ion-content>

<!--



 
   
    
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-button ><img src="assets/isetting.svg" ><ion-label>Security</ion-label></ion-button>
    </ion-item>




    <ion-item >
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
   <ion-button ><img src="assets/isetting.svg" ><ion-label>Privacy</ion-label></ion-button>
    </ion-item >
 

    <ion-list-header>
      <ion-label>Support & About</ion-label>
    </ion-list-header>

 
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-button ><img src="assets/isetting.svg" ><ion-label>Subscription</ion-label></ion-button>
    </ion-item>
  

    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-button ><img src="assets/isetting.svg" ><ion-label>Help & Support</ion-label></ion-button>
    </ion-item>
 

   
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-button ><img src="assets/isetting.svg" ><ion-label>Term & Policies</ion-label></ion-button>
    </ion-item>
 

    <ion-list-header>
      <ion-label>Actions</ion-label>
    </ion-list-header>

   
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-button ><img src="assets/isetting.svg" > <ion-label>Report a Problem</ion-label></ion-button>
    </ion-item>
    
  


  <ion-button expand="block" color="danger" (click)="logOut()">Log Out</ion-button>
</ion-content> -->
