<div class="orders">
    <div class="container">
      <!-- header -->
      <div class="space-between">
        <h2>Add New Product</h2>
        <label class="toggle-label">
          <input type="checkbox" class="toggle-input" />
          <div class="toggle-switch">
            <span class="toggle-circle"></span>
          </div>
        </label>
      </div>
      <!-- Clickable image: if imageUrl is set, use it; otherwise, show default -->
      <img [src]="productImageBase64 || 'Image/cat.png'" alt="Product Image" (click)="triggerFileInput()" style="width: 100px; height: 100px; object-fit: cover;">
      <!-- Hidden file input -->
      <input type="file" #fileInput (change)="onProductImageSelect($event)" hidden>
      <!-- form start -->
      <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
        <!-- input details -->
        <div class="details">
          <ul class="inputs-inline">
            <li>
              <label for=""> Start Date</label>
              <input type="date" formControlName="start_date">
            </li>
            <li>
              <label for=""> Received Date</label>
              <input type="date" formControlName="received_date">
            </li>
          </ul>
          <ul class="inputs">
            <li>
              <label for="">Type of Pet</label>
              <select formControlName="pet_type">
                <option value="" selected>Choose option...</option>
                <option value="Cat">Cat</option>
                <option value="Dog">Dog</option>
                <option value="Bird">Bird</option>
              </select>
            </li>
            <li>
              <label for="">Product Name (EN)</label>
              <input type="text" formControlName="product_name_en">
            </li>
            <li>
              <label for="">Product Name (AR)</label>
              <textarea formControlName="product_name_ar"></textarea>
            </li>
          </ul>
          <ul class="inputs-inline">
            <li>
              <label for=""> Amount</label>
              <input type="text" formControlName="quantity">
            </li>
            <li>
              <label for=""> Delivery charge</label>
              <input type="text" formControlName="delivery_price">
            </li>
          </ul>
          <ul class="inputs-inline">
            <li>
              <label for="">Price</label>
              <input type="text" formControlName="price">
            </li>
          </ul>
        </div>
        <!-- hidden inputs for status and pet_owner_id -->
        <input type="hidden" formControlName="status">
        <input type="hidden" formControlName="pet_owner_id">
        <div class="buttons">
          <button type="submit">Submit</button>
          <button type="button" style="background-color:orange">Add More</button>
        </div>
      </form>
      <!-- form end -->
    </div>
  </div>
  