.img-container {
    height: 118px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upload-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.default-image {
    width: 70%;
    height: 70%;
    display: block;
}

.overlay {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.upload-box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-requirements {
    font-size: 14px;
    color: gray;
    margin-bottom: 8px;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: center;
}

#id {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}