<div class="w-full p-2">
    <div class="w-full h-full bg-white rounded-lg xl:p-8 px-4 py-6 ms-auto">

        <div class="overflow-x-auto">
            <div class="flex flex-col gap-2">
                <!-- Heading with smaller div -->
                <h1 class="text-2xl font-semibold text-[#5E17EB] text-left mb-2">Collar Orders List</h1>
            </div>

            <div class="tabContent flex flex-col items-center justify-center md:gap-3 gap-2 flex-wrap my-8 pb-5">
                <!-- Tab Buttons -->
                <div class="flex flex-wrap justify-center gap-2 m-10">

                    <button data-tab="Pending"
                        class="w-[260px] h-[90px] px-6 py-3 bg-[#F8CEC7] text-[19px] text-black rounded-full text-center flex justify-center items-center">
                        Pending No.
                    </button>
                    <button data-tab="Paid"
                        class="w-[260px] h-[90px] px-6 py-3 bg-[#71DD37] text-[19px] text-black rounded-full text-center flex justify-center items-center">
                        Active No.
                    </button>
                    <button data-tab="Done"
                        class="w-[260px] h-[90px] px-6 py-3 bg-[#A7A6FE]  text-[19px] text-black rounded-full text-center flex justify-center items-center">
                        Done No.
                    </button>
                </div>
            </div>
            <div class="w-3/4 mx-auto flex flex-wrap gap-4 items-end justify-between">
                <!-- Filter From -->
                <div class="w-1/4 min-w-[150px]">
                    <div class="fillterCard">
                        <label class="font-normal text-[15px] text-[#232323] block mb-1">Filter From:</label>
                        <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full">
                            <input id="from-date" type="date"
                                class="w-full text-xs text-[#718EBF] font-normal outline-none focus:ring-purple-500 focus:border-purple-500" />
                        </div>
                    </div>
                </div>
            
                <!-- Filter To -->
                <div class="w-1/4 min-w-[150px]">
                    <div class="fillterCard">
                        <label class="font-normal text-[15px] text-[#232323] block mb-1">To:</label>
                        <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full">
                            <input id="to-date" type="date"
                                class="w-full text-xs text-[#718EBF] font-normal outline-none focus:ring-blue-500 focus:border-blue-500" />
                        </div>
                    </div>
                </div>
            
                <!-- Status -->
                <div class="w-1/4 min-w-[150px]">
                    <div class="fillterCard">
                        <label class="font-normal text-[15px] text-[#232323] block mb-1">Status:</label>
                        <div class="border-[1px] border-[#CED1D5] px-3 py-2 rounded-[20px] w-full">
                            <select class="w-full text-xs text-[#718EBF] font-normal outline-none focus:ring-green-500 focus:border-green-500">
                                <option value="#">Member</option>
                                <option value="#">Free Trial</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>            
            

            <div class="tabContent flex items-center justify-between md:gap-3 gap-2 flex-wrap my-8">
                <!-- Tab Buttons -->
                <div class="flex gap-2">
                    <button data-tab="Dashboard"
                        class="w-[150px] px-4 py-2 bg-green-500 text-white rounded-full text-center flex justify-center items-center">
                        Dashboard
                    </button>
                    <button data-tab="Export"
                        class="w-[150px] px-4 py-2 bg-green-500 text-white rounded-full text-center flex justify-center items-center">
                        Export
                    </button>
                </div>
                <!-- Search Field -->
                <div class="relative flex justify-end items-center">
                    <input type="text" placeholder="Search by Owner Name..."
                        class="border border-gray-300 rounded-full py-2 pl-8 pr-4 w-64 text-sm focus:ring-blue-500 focus:border-blue-500" />
                    <img src="Image/search.png" alt="Search Icon" class="absolute top-3.5 left-2.5 h-3.5" />
                </div>
            </div>
            <!-- Table -->
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white rounded-lg shadow-md table-auto">
                    <thead class="bg-[#5e16ea] text-white">
                      <tr class="border-t last:border-b border-gray-300">
                        <th class="px-4 py-2 text-left">First Issue Date</th>
                        <th class="px-4 py-2 text-left">Issue Date</th>
                        <th class="px-4 py-2 text-left">Owner Name</th>
                        <th class="px-4 py-2 text-left">Pet Type</th>
                        <th class="px-4 py-2 text-left">Contact</th>
                        <th class="px-4 py-2 text-left">Email</th>
                        <th class="px-4 py-2 text-left">Amount</th>
                        <th class="px-4 py-2 text-left">Status</th>
                        <th class="px-4 py-2 text-left">Process</th>
                        <th class="px-4 py-2 text-left">Collar Code.</th>
                        <th class="px-4 py-2 text-left">Actions</th>
                      </tr>
                    </thead>
                
                    <tbody>
                      <tr *ngFor="let collar of filteredCollars" class="border-t hover:bg-gray-50">
                        <td class="px-4 py-2">{{ collar.created_at | date: 'shortDate' }}</td>
                        <td class="px-4 py-2">{{ collar.updated_at | date: 'shortDate' }}</td>
                        <td class="px-4 py-2">{{ collar.pet.pet_owner.first_name }} {{ collar.pet.pet_owner.last_name }}</td>
                        <td class="px-4 py-2">{{ collar.pet.pet_type }}</td>
                        <td class="px-4 py-2">{{ collar.pet.pet_owner.phone }}</td>
                        <td class="px-4 py-2">{{ collar.pet.pet_owner.email }}</td>
                        <td class="px-4 py-2">{{ collar.product ? collar.product.name : 'N/A' }}</td>
                        <td class="px-4 py-2">{{ collar.pet.is_vaccinated ? 'Vaccinated' : 'Not Vaccinated' }}</td>
                        <td class="px-4 py-2">Pending</td>
                        <td class="px-4 py-2">{{ collar.url }}</td>
                        <td class="py-2 px-4 text-center">
                          <div class="flex items-center justify-center space-x-2">
                            <img src="biin.png" alt="" class="h-5 cursor-pointer" />
                            <img src="edit-pic.png" alt="" class="h-5 cursor-pointer" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="mt-12 flex justify-center items-center w-full">
                <div class="flex items-center sm:justify-center sm:gap-6 gap-3 px-5 justify-center">
                    <button
                        class="flex items-center justify-center gap-2 cursor-pointer text-[#5E17EB] text-xs font-normal hover:text-black duration-500">
                        <img src="Image/left-arrow.svg" alt="arrow left" />
                        Previous
                    </button>

                    <!-- Pagination -->
                    <div class="flex items-center">
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-white font-normal text-xs bg-[#5E17EB] hover:bg-[#5E17EB] hover:text-white duration-1000">
                            1
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            2
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            3
                        </button>
                        <button
                            class="sm:py-3 sm:px-4 px-2 py-1 rounded-lg text-black font-normal text-xs hover:bg-[#5E17EB] hover:text-white duration-1000">
                            4
                        </button>
                    </div>

                    <button
                        class="flex items-center justify-center gap-2 cursor-pointer text-[#5E17EB] text-xs font-normal hover:text-black duration-500">
                        Next
                        <img src="Image/right-arrow.svg" alt="arrow right" />
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>