<ion-header></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div>
      <app-test></app-test>
    </div>

    <div class="InGrid">
      <div>      
        <ion-button expand="block" routerLink="/dev">
        Go to dev
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/language">
          Go to language page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/adv">
          Go to advertisment page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/account-type">
          go to account type
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/select-provider-type">
          Go to select-provider-type page
        </ion-button>
        <br>
      </div>
      

      <div>
        <ion-button expand="block" routerLink="/create-your-account">
          go to create your account
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/login">
          Go to login Page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/forgotpass">
          Go to forgotpass Page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/newpassword">
          Go to newpassword Page
        </ion-button>
        <br>
      </div>

      
      <div>
        <ion-button expand="block" color="success" routerLink="/add-pets">
          Go to add pets
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/add-pet-doc">
          Go to add pet documents
        </ion-button>
        <br>
      </div>

      
      <div>
        <ion-button expand="block" routerLink="/coupon">
          Go to coupon page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/subscription">
          Go to subscription
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/check-out">
          Go to check-out
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/congratulation-page">
          go to congratulation page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/adoptionlist">
          Go to Adoption pet list page
        </ion-button>
        <br>
      </div>

      <div>
        <ion-button expand="block" routerLink="/adoptionpetinfo">
          Go to adoption pet information page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/bookappointment">
          Go to book appointment page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/drlist">
          Go to dr list page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/drmain">
          Go to dr main page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/drprofile">
          Go to dr profile page
        </ion-button>
        <br>
      </div>

      
      <div>
        <ion-button expand="block" routerLink="/drproudect">
          Go to dr proudect details page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/vetclinic">
          Go to vet clinic page
        </ion-button>
        <br>
      </div>


      <div>
        <ion-button expand="block" routerLink="/vetdetails">
          Go to vet clinic details page
        </ion-button>
        <br>
      </div>

    </div>

  </ion-content>

  <button routerLink="/splash">Go to Splash Page</button>
</ion-content>

