<span class="loader" id="loader" style="display: none;"> 
</span>

<div class="main  w-full   mt-6 bg-white p-1">
  <div class="div" *ngIf="!isFormVisible">
    <div class="main-search">
      <div
        class="head-button flex flex-wrap justify-center sm:justify-between items-center gap-4 sm:gap-8 mt-8 px-4 py-2"
      >
        <!-- Add Product Button -->
        <button
          (click)="toggleForm()"
          class="text-white px-6 sm:px-8 py-3 bg-[#5E17EB] rounded-lg hover:bg-[#4c13c7] font-semibold w-full sm:w-auto text-center"
        >
          Add Catrgory
        </button>
    
        <!-- Download Template Button -->
        <button
          class="bg-gray-200 text-gray-700 px-4 py-3 rounded-lg hover:bg-gray-300 font-semibold w-full sm:w-auto text-center"
          (click)="downloadTableData()"
        >
          Download Template
        </button>
    
        <!-- Import Template Button -->
        <div class="relative w-full sm:w-auto">
          <button
            class="bg-gray-200 text-gray-700 px-4 py-3 rounded-lg hover:bg-gray-300 font-semibold w-full sm:w-auto text-center"
            (click)="triggerFileInput()"
          >
            Import Template
          </button>
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileImport($event)"
            accept=".csv"
          />
        </div>
    
        <!-- Export Product Button -->
        <button
          class="bg-gray-200 text-gray-700 px-4 py-3 rounded-lg hover:bg-gray-300 font-semibold w-full sm:w-auto text-center"
          (click)="downloadTableData()"
        >
          Export Product
        </button>
      </div>
    </div>
    
    <div class="flex flex-col sm:flex-row justify-between items-center  p-3 ">

      
        <!-- Search Bar -->
        <div class="flex border rounded-2xl border-gray-500 items-center bg-gray-200 text-gray-700 px-4 py-3  w-1/2 sm:max-w-md">
          <img src="Image/search.png" alt="" class="h-4">
          <input
            type="text"
            placeholder="Search (Ctrl+/)"
            [(ngModel)]="searchTerm" 
            (keyup.enter)="onSearch()" 
            class="bg-transparent border-none outline-none text-sm ml-2 w-1/2 placeholder-gray-500"
          />
        </div>
        <!-- Delete All Button -->
        <button class="bg-[#FB4848] text-white font-semibold px-8 py-3 rounded-xl shadow-md" (click)="deleteAllProducts()">
          Delete All 
        </button>
      </div>
  
      <!-- Table Section -->
      <div class="overflow-x-hidden ">
        <!-- Table -->
        <div class="overflow-x-auto bg-gray-50 mt-3">
          <table class="w-full border-collapse   ">
            <!-- Table Header -->
            <thead>
              <tr class="bg-gray-100 text-left w-full border-b">
                <th class=" py-2 px-4 text-md font-medium text-gray-700">  <input type="checkbox" name="service" class="h-4  w-4 text-purple-600 border-gray-300 focus:ring-purple-500" /> </th>
                <th class=" py-2 px-4  text-md font-medium text-gray-700">Id</th>

                <th class=" py-2 px-4  text-md font-medium text-gray-700">Service Image</th>
                <th class=" py-2 px-4  text-md font-medium text-gray-700">Name</th>
                <th class=" py-2 px-4  text-md font-medium text-gray-700">Discription</th>

                <th class=" py-2 px-4 text-md font-medium text-gray-700"> Total Stock</th>
                <th class=" py-2 px-4  text-md font-medium text-gray-700">Pet Type</th>
                <th class=" py-2 px-4  text-md font-medium text-gray-700">Category</th>

                <td class=" py-2 px-4  text-md font-medium text-gray-700">Status</td>
                <th class=" py-2 px-4  text-md font-medium text-gray-700"> Action</th>
              </tr>
            </thead>
            <!-- Table Body -->
            <tbody class="  bg-gray-100">
              <!-- Row -->
              <tr *ngFor="let product of paginatedData" class="border-b">
                <td class=" py-2 px-4  text-md">
                  <input type="radio" name="service" class="h-4 w-4 text-purple-600 border-gray-300 focus:ring-purple-500" />
                </td>
                <td class=" py-1 px-2  text-md text-gray-700">{{product.id}}</td>

                <td class=" py-2 px-4  text-md">
                  <img src="{{product.image_url}}" alt="Service Image" class="rounded-full w-10 h-10" />
                </td>
                <td class=" py-2 px-4  text-md text-gray-700">{{product.name}}</td>
                <td class=" py-2 px-4  text-md text-gray-700">{{product.description}}</td>
                <td class=" py-2 px-4  text-md text-gray-700">{{product.total_stock}}</td>
                <td class=" py-2 px-4  text-md text-gray-700">{{product.selected_subcategory}}</td>
                <td class=" py-2 px-4  text-md text-gray-700">{{product.selected_category	}}</td>

                <td class=" py-2 px-4 text-center">
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input
                    type="checkbox"
                    class="sr-only peer"
                    [checked]="product.status === 'active'"
                    (change)="ControlCategory(product.id)"
                    />
                    <div
                      class="w-10 h-5 bg-red-500 rounded-full peer-checked:bg-green-500 peer-focus:ring-2 peer-focus:ring-offset-2 peer-focus:ring-blue-700 transition-colors duration-300"
                    ></div>
                    <span
                      class="w-3 h-3 bg-white rounded-full shadow-md transform peer-checked:translate-x-6 peer-checked:bg-green-100 absolute left-1 top-1 transition-transform duration-300"
                    ></span>
                  </label>
                </td>

            
                 <td class=" py-2 px-4 flex justify-center items-center gap-4 mt-1">
              <img src="edit-pic.png" alt="Edit" class="h-6 cursor-pointer" (click)="onEditProduct(product.id)" />
              <img src="biin.png" alt="Bin" class="h-6 cursor-pointer" (click)="onDeleteProduct(product.id)"/>
            </td>
              </tr>
           
              
            </tbody>
          </table>
        </div>

     

        <div class="flex items-center justify-end space-x-4 mt-4">
          <button
            class="flex items-center justify-center w-6 h-6 text-blue-500 hover:text-blue-700"
            (click)="previousPage()"
            [disabled]="currentPage === 1"
          >
            <svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>
          </button>
        
          <div class="flex space-x-2">
            <button
              *ngFor="let page of [].constructor(totalPages); let i = index"
              class="w-6 h-6 flex items-center justify-center rounded-lg"
              [ngClass]="{
                'bg-blue-700 text-white': currentPage === i + 1,
                'text-blue-700 hover:bg-blue-800 hover:text-white': currentPage !== i + 1
              }"
              (click)="goToPage(i + 1)"
            >
              {{ i + 1 }}
            </button>
          </div>
        
          <!-- Next Button -->
          <button
            class="flex items-center justify-center w-6 h-6 text-blue-700 hover:text-blue-700"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
          >
            <svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </button>
        </div>
      </div>

  </div>


  <div class="flex items-center justify-center m-10 min-h-screen bg-white" *ngIf="isFormVisible">
    <div class="w-[400px] bg-gray-100 border shadow-sm rounded-lg p-1">
      <!-- Header -->
      <div class="mb-6 flex justify-between items-center">
        <a class="text-blue-700 text-sm flex items-center gap-2">
          <span class="text-xl">&#8592;</span> Add Category
        </a>

      </div>
  
     
  
      <!-- Form -->
      <form *ngIf="isFormVisible"
      class="space-y-4 p-4"
      #form="ngForm">
        <!-- Name -->

      
        <div class="flex justify-center mb-6 relative">
          <img
            id="imagePreview"
        [src]="formData.image_url || 'Image/cat.png'" 
            alt="Two puppies"
            class="w-32 h-32 rounded-xl"
          />
          
          <a 
            class="absolute  top-24   rounded-full p-2"
            (click)="fileInput.click()" 
            type="button"
            accept=".png, .jpg, .jpeg"
  
          >
           <img src="edit-pic.png" alt="">
        </a>
        
          <input
            #fileInput
            type="file"
            class="hidden"
            required
            (change)="onFileSelected($event)"
          />

          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Image is required.
          </div>
        </div>


        <div>
          <label for="name" class="block text-sm font-medium text-gray-600 mb-1">
            Name
          </label>
          <input
            type="text"
            id="name"
            [(ngModel)]="formData.name"

            name="name"
            placeholder="Add name here"
            class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Name is required.
          </div>
        </div>
       <div>

        <!-- Hidden input for product_id -->
        <input type="hidden" name="provider_id"[(ngModel)]="formData.provider_id" />
        <input type="hidden" name="id"[(ngModel)]="formData.id" />

       </div>
  
        <!-- Total Stock -->
        <div>
          <label
            for="total-stock"
            class="block text-sm font-medium text-gray-600 mb-1"
          >
            Total Stock
          </label>
          <input
            type="number"
            id="total-stock"
            [(ngModel)]="formData.total_stock"
            name="total_stock"
            placeholder="Add Total Stock"
            class=" border border-gray-300 rounded-2xl px-3 py-2 w-1/2 focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Stock is required.
          </div>
        </div>
        <!-- Enter Pet Stock -->

        <div>
          <label
            for="total-stock"
            class="block text-sm font-medium text-gray-600 mb-1"
          >
           Enter Pet Type
          </label>
          <input
            type="text"
            id="total-stock"
            [(ngModel)]="formData.selected_subcategory"
            name="selected_subcategory"
            placeholder="Dog, Cat etc..."
            class=" border border-gray-300 rounded-2xl px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Pet Type is required.
          </div>
        </div>

        <div>
          <label
            for="total-stock"
            class="block text-sm font-medium text-gray-600 mb-1"
          >
            Enter Category
          </label>
          <input
            type="text"
            id="total-stock"
            [(ngModel)]="formData.selected_category	"
            name="selected_category	"
            placeholder="Food, Toys etc..."
            class=" border border-gray-300 rounded-2xl px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Category is required.
          </div>
        </div>


      
         
        
  
     
        <!-- Description -->
        <div>
          <label
            for="description"
            class="block text-sm font-medium text-gray-600 mb-1"
          >
            Description
          </label>
          <textarea
            id="description"
            rows="3"
            [(ngModel)]="formData.description"
            name="description"
            placeholder=""
            class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-purple-500"
          ></textarea>
          <div *ngIf="form.submitted && !form.controls['name']?.valid" class="text-red-500 text-sm">
            Description required.
          </div>
        </div>
  
        <!-- Buttons -->
         


        <div class="flex gap-4 mt-4">
          <button
          *ngIf="!hasCategoryData"

            type="submit"
            class="w-full blue-bg text-white py-2 rounded-lg shadow hover:bg-blue-900 transition"(click)="submitProduct()"
          >
         Add Category
          </button>

          <button
          *ngIf="hasCategoryData"

          type="submit"
          class="w-full blue-bg text-white py-2 rounded-lg shadow hover:bg-blue-900 transition"(click)="submitEditProduct()"
        >
         Update Category
        </button>
          <button
            type="button"
            (click)="onAddMoreClick()"
            class="w-full bg-red-500 text-white py-2 rounded-lg shadow hover:bg-red-600 transition"
          >
            Add More
          </button>
        </div>

        <div *ngIf="showPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
          <div class="bg-white rounded-lg shadow-lg p-6 text-center max-w-md w-full">
            <p class="text-lg font-semibold mb-4">Do you want to submit the product?</p>
            <div class="flex justify-center gap-4 mt-4">
              <!-- Yes Button -->
              <button
                type="button"
                (click)="onConfirm(true)"
                class="bg-blue-700 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-800 transition"
              >
                Yes
              </button>
              <!-- No Button -->
              <button
                type="button"
                (click)="onConfirm(false)"
                class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow hover:bg-gray-600 transition"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>