<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div class="header-margin">
      <ion-label class="titleFont">New Password</ion-label>

      <p class="textGray bodyFont">Please provide the following credentials.</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="bodyFont SmallMargin">

    <br/>
    <ion-label>Password</ion-label>
    <ion-item class="roundedInput">
      <ion-input
        class="bodyFont textGray"
        fill="solid"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter your password"
        [(ngModel)]="password"
      ></ion-input>

      <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        slot="end"
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>

    <br/>
    <ion-label>Confirm Password</ion-label>
    <ion-item class="roundedInput">
      <ion-input
        class="bodyFont textGray"
        fill="solid"
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Enter your new password"
        [(ngModel)]="confirmPassword"
      ></ion-input>

      <ion-icon  [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
        slot="end"
        (click)="toggleConfirmPasswordVisibility()">
      </ion-icon>
    </ion-item>
  </div>
  <br />

  <ion-button expand="full" fill="clear" class="FilledButtons"
    (click)="updatePassword()">
    Update passwords
  </ion-button>
  
</ion-content>
