<ion-header>
  <div class="header-image">
    <img src="assets/collerframe.png" alt="Pet Collars Banner" />
  </div>
  <ion-toolbar>
    <ion-title>Pet Stores</ion-title>
    <ion-buttons slot="end">
      <ion-button name="search">
        <ion-icon
          slot="icon-only"
          src="/assets/search-outline.svg"
          size="large"
        ></ion-icon>
      </ion-button>
      <ion-button name="options">
        <ion-icon
          slot="icon-only"
          src="/assets/filter-outline.svg"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Framee.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Fraame.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Framee.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Fraame.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Framee.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img src="/assets/Fraame.png" alt="Pet Collar" />
          <ion-card-content>
            <ion-card-title>Pet Collar</ion-card-title>
            <p>BHD 8</p>
            <ion-buttons>
              <ion-button name="heart-outline" shape="round">
                <ion-icon
                  src="/assets/heart-outline.svg"
                  name="heart-outline"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
              <ion-button name="add-circle-outline" shape="round">
                <ion-icon
                  src="/assets/add-circle-outline.svg"
                  slot="icon-only"
                  size="large"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
