<div class="content">
    <div class="inner-content">
        <h1>Login</h1>
        <ul>
            <li>
                <label for="email">Email</label>
                <input type="text">
            </li>
            <li>
                <label for="password">Password</label>
                <input type="text">
            </li>
            <li style="text-align: right;">
                <a href="">Forgot your Password?</a>
            </li>
            <li>
                <button (click)="navigateToMain()">Login</button>
            </li>
            <li style="text-align: center;">
                Are you a provider? <a (click)="navigateToSignup()"> Sign Up! </a>
            </li>
        </ul>
    </div>
</div>
