<div class="invoice" id="invoiceContent">
    <img src="Image/invoice-header.png" alt="">
    <div class="content">
        <div class="date">
            <ul>
                <li>Invoice Date: 3 / 3 / 2024</li>
                <li>invoid no: 222333</li>
            </ul>
            <div class="to-right">
                <p>Total Due: 0</p>
            </div>
            <ul>
                <li><b>Invoice</b></li>
                <li>
                    <p>The Don Steak House & Grills</p>
                </li>
                <li> Shop 19 , Building 28, Road 7901, Block 579, Janabiya , Bahrain</li>
                <li> mobile: 2233 3322</li>
                <li> Phone: 1223 2123</li>
            </ul>
            <table>
                <tr>
                    <th>Discription</th>
                    <th>qty</th>
                    <th>price</th>
                    <th>after %</th>
                    <th>total</th>
                </tr>
                <tr>
                    <td>health care center</td>
                    <td> 4 </td>
                    <td>30 bhd</td>
                    <td>25 bhd</td>
                    <td>15 bhd</td>
                </tr>
            </table>
            <hr>
            <div class="to-right-table">
                <table>
                    <tr>
                        <td>sub-total</td>
                        <td>15 bhd</td>
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        <td>15 bhd</td>
                    </tr>
                    <tr class="total">
                        <td>Total:</td>
                        <td>30 BHD</td>
                    </tr>
                </table>
                <ul style="text-align: left;">
                    <li><b>payment Method</b></li>
                    <li>Benifit</li>
                </ul>
            </div>
            <ul>
                <li>Account Manager</li>
                <li>70000</li>
            </ul>
            <div style="text-align: center;">
                <a href="">WWW.SamaPet.Com</a>
            </div>
        </div>
    </div>
</div>