<app-navbar></app-navbar>
<!-- header section -->
<section class="hero">
  <div class="description">
    <div class="navigation"> <p><a href="home">HOME</a></p>
      <div class="heroDot"></div>
      <p (click)="navigateToBlogs()">Blog Post</p>
      <div class="heroDot"></div>
      <p>Blog Post</p>
    </div>
  </div>
</section>

<!-- blogs detail section -->
<div class="container">
  <section class="post">
    <img class="header-image" src="sleepingDogBG.png" alt="post-pic">
    <div class="space-between">
      <div class="header">
        <h1>6 Tips to Keep Your Pet Healthy and Happy</h1>
        <div class="blog-meta">
          <span>By Cornelius Darrell</span>
          <span>02.03.2022</span>
        </div>
      </div>
      <ul class="share">
        <li><b>share</b></li>
        <li><a href=""><img src="assets/icons/facebook.svg" alt=""></a></li>
        <li><a href=""><img src="assets/icons/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="assets/icons/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <h2>Lacus suspendisse faucibus interdum posuere dolor purus non enim.</h2>
    <p>Velit laoreet id donec ultrices tincidunt arcu non. Malesuada fames ac turpis egestas maecenas. Purus sit amet luctus venenatis lectus magna fringilla urna. Proin sed libero enim sed faucibus turpis in eu mi bibendum. Purus non enim praesent elementum facilisis leo vel fringilla est ullamcorper.</p>
    <div class="lists">
      <ul>
        <li>Mauris massa cras fermentum</li>
        <li>Facilisis gravida neque convallis</li>
        <li>Curabitur gravida arcu ac tortor</li>
        <li>Curabitur gravida arcu ac tortor</li>
      </ul>
      <ol>
        <li>Mauris massa cras fermentum</li>
        <li>Facilisis gravida neque convallis</li>
        <li>Curabitur gravida arcu ac tortor</li>
        <li>Curabitur gravida arcu ac tortor</li>
      </ol>
    </div>
    <h2>Lacus suspendisse faucibus interdum posuere dolor purus non enim.</h2>
    <p>Velit laoreet id donec ultrices tincidunt arcu non. Malesuada fames ac turpis egestas maecenas. Purus sit amet luctus venenatis lectus magna fringilla urna. Proin sed libero enim sed faucibus turpis in eu mi bibendum. Purus non enim praesent elementum facilisis leo vel fringilla est ullamcorper.</p>
    <blockquote>
      "Aliquet risus feugiat in ante metus dictum at tempor. Id leo in vitae turpis massa sed elementum tempus egestas. Justo eget magna fermentum iaculis eu non diam phasellus."
    </blockquote>
    <p>Velit laoreet id donec ultrices tincidunt arcu non. Malesuada fames ac turpis egestas maecenas. Purus sit amet luctus venenatis lectus magna fringilla urna. Proin sed libero enim sed faucibus turpis in eu mi bibendum. Purus non enim praesent elementum facilisis leo vel fringilla est ullamcorper.</p>
    <h2>Lacus suspendisse faucibus interdum posuere dolor purus non enim.</h2>
    <p>Velit laoreet id donec ultrices tincidunt arcu non. Malesuada fames ac turpis egestas maecenas. Purus sit amet luctus venenatis lectus magna fringilla urna. Proin sed libero enim sed faucibus turpis in eu mi bibendum. Purus non enim praesent elementum facilisis leo vel fringilla est ullamcorper.</p>
    <hr>
  </section>
</div>
 <!-- Membership Banner -->
 <div class="membership-banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Your Pets Deserve the Best, Be a member!</h1>
      <p>
        Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum.
        Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit.
      </p>
      <button class="subscribe-button">Subscribe</button>
    </div>
    <div class="banner-images">
      <img src="./assets/img/flyingtiger.png" alt="Cat" class="cat-image">
      <img src="./assets/img/doggiedog.png" alt="Dog" class="dog-image">
    </div>
  </div>
</div>
<app-footer></app-footer>