 
<ion-content class="ion-padding">
  <div class="header-text">
    <h1>Select Service Type</h1>
    <p>Lorem ipsum dolor sit amet</p>
  </div>

  <ion-list>
    <ion-radio-group>
      <ion-item class="service-item">
        <ion-label>
          <h2>Groomer Provide</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-radio slot="end" value="groomer"></ion-radio>
      </ion-item>

      <ion-item class="service-item">
        <ion-label>
          <h2>Pet Shop</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-radio slot="end" value="petshop"></ion-radio>
      </ion-item>

      <ion-item class="service-item">
        <ion-label>
          <h2>Pet Clinic</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-radio slot="end" value="petclinic"></ion-radio>
      </ion-item>

      <ion-item class="service-item">
        <ion-label>
          <h2>Doctor / Trainer</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-radio slot="end" value="doctortrainer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-footer>
    <ion-button expand="block" class="next-button">Next</ion-button>
  </ion-footer>
</ion-content>
