<div class="ion-padding empty-state">
  <div class="middle">
    <div class="content-img">
      <img src="assets/logo.svg" alt="Logo" />
    </div>

    <div class="horizontal">
      <img src="assets/logo.svg" alt="Logo" />
    </div>

    <div class="content-buttons">
      <ion-button
        expand="full"
        fill="clear"
        class="FilledButtons"
        (click)="switchLanguage('en')"
      >
        English
      </ion-button>
      <ion-button
        expand="full"
        fill="clear"
        class="FilledButtons"
        (click)="switchLanguage('ar')"
      >
        عربي
      </ion-button>
    </div>
  </div>
</div>