<div class="header w-100">
    <app-pet-header></app-pet-header>
</div>

<div class="container flex w-100">
    <div class="profile w-1/3">
        <app-add-new-owner-profile></app-add-new-owner-profile>
    </div>
    <div class="control w-10/12">
        <div
        class="table-list flex justify-around items-center w-full  bg-white mt-2  flex-col md:flex-row border-b-2 border-blue-600"
      >
        <button
        routerLinkActive="active-tab"
        class="text-xl px-3 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }"
         routerLink="/add-pet-owner/membership"
        >
          Membershipp
        </button>
        <button
        routerLinkActive="active-tab"
        class="text-xl px-3 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/add-pet-owner/discountUsage"
        >
          Discount Usage
        </button>
        <button
        routerLinkActive="active-tab"
        class="text-xl px-3 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/add-pet-owner/history"
        >
          History
        </button>
        <button
        routerLinkActive="active-tab"
        class="text-xl px-3 py-1 rounded-t-md"
        [routerLinkActiveOptions]="{ exact: true }"
           routerLink="/add-pet-owner/other"
        >
          Other
        </button>
      </div>
      <div class="other-content  p-2">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>