// header
p{
    padding-top: 2px;
    padding-right: 5px;
    margin: 5px 32px 0px 0px;
    width:100%;
}

ion-buttons{
    margin-bottom: 16px;
}

ion-item {
    margin-top:10px;
}

.Username{
    width: 100%;
}