<div class="wrapper">
    <div class="user-container">
        <div class="mainhead">
            <div class="head-left">
                <div class="space-between">
                    <h1 class="title">Invoice History List</h1>
                </div>
                <div class="count-tags">
                    <span class="count blue">Total Invoice: {{ invoices.length }}</span>
                    <span class="count orange">Shipped No: {{ shippedCount }}</span>
                    <span class="count yellow">Pending No: {{ pendingCount }}</span>
                    <span class="count green">Paid No: {{ paidCount }}</span>
                </div>
            </div>
            <!-- <div class="content">
            <ul>
                <li>Total Invoice: {{ invoices.length }}</li>
                <li>Shipped No: {{ shippedCount }}</li>
                <li>Pending No: {{ pendingCount }}</li>
                <li>Paid No: {{ paidCount }}</li>
            </ul>
        </div> -->
            <div class="head-right">
                <div class="add-button-wrapper">
                    <button class="add-button" (click)="navigateToCreateInvoice()">generate Invoice</button>
                </div>
            </div>
        </div>

        <!-- <div class="content-table">
            <table>
                <tr> -->
        <div class="table-wrapper">
            <table class="data-table">
                <thead class="table-head">
                    <tr class="tableheadrow">
                        <th>Invoice NO:</th>
                        <th>Invoice Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th><button class="btn-delete">Delete All</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices" class="owner-row">
                        <td (click)="navigateToInvoice(invoice.id, invoice.type)" style="cursor: pointer; color: blue;">
                            {{ invoice.id }}
                        </td>
                        <td>{{ invoice.invoice_date | date:'dd MMM yyyy' }}</td>
                        <td>{{ invoice.customer_name }}</td>
                        <td>{{ invoice.total_amount }} BHD</td>
                        <td>
                            <button [ngClass]="invoice.status.toLowerCase()">{{ invoice.status }}</button>
                        </td>
                        <td>
                            <div class="btn-img">
                                <img src="biin.png" alt="delete" (click)="deleteInvoice(invoice.id)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-wrapper">
            <div class="pagination-buttons">
                <button class="arrow-button">
                    <img src="Image/left-arrow.svg" alt="arrow left" /> Previous
                </button>

                <button class="pagination-button active">1</button>
                <button class="pagination-button">2</button>
                <button class="pagination-button">3</button>
                <button class="pagination-button">4</button>

                <button class="arrow-button">
                    Next <img src="Image/right-arrow.svg" alt="arrow right" />
                </button>
            </div>
        </div>
    </div>
</div>